@model SLCONSTRUCT.UI.WEB.ViewModels.OrganizacaoSortableVModel


@foreach (var item in Model.listaOrganizacao)
{
    var iconcls = item.tipoconteudo == "Vídeo" ? "fa-video" : item.tipoconteudo == "Infográfico" ? "fa-image" : item.tipoconteudo.Contains("Guia") ? "fa-file-alt" : "fa-check-double";

    <li class="col s12 sortable-organizacao @(item.tipoconteudo == "Item" ? "sortable-item" : string.Empty)" data-tipoitem="@item.tipoconteudo" data-codunidadeaprendizagemturmadisciplinatrilha="@item.codunidadeaprendizagemturmadisciplinatrilha" data-ordem="@item.ordem" data-codunidadeaprendizagemtrilha="@item.codunidadeaprendizagemtrilha" data-codunidadeaprendizagemturmadisciplinatrilhaorientacao="@item.codunidadeaprendizagemturmadisciplinatrilhaorientacao"><i class="fas @iconcls"></i> <span>@string.Format("{0} - {1}", item.labeltipoconteudo, item.titulo)</span> @if (item.tipoconteudo == "Item") {<div class="organizacao-controls"><i class="fas fa-edit editarWidget"></i> | <i class="fas fa-trash-alt excluirWidget"></i></div>}</li>
}


