@model SLCONSTRUCT.UI.WEB.ViewModels.PerfilUsuarioVModel
@{
    var textoDesabilitado = Model.edicaobloqueada || ViewBag.ModoVisualizacao ? "disabled" : "";
}


<div id="perfis-do-usuario-partial" data-codpessoa="@Model.codpessoa">
    <div class="row perfis-header">
        <div class="col s12 perfis-header-col">
            <div class="perfis-foto-perfil-usuario">
                @if (!string.IsNullOrEmpty(Model.base64FotoPessoa))
                {
                    <img src="@Model.base64FotoPessoa" />
                }
                else
                {
                    <i class="fas fa-camera"></i>
                }
            </div>
            <h6>@Model.login</h6>
            <span>@Model.email</span>
        </div>
    </div>
    <div class="row">
        <div class="col s12 table-perfis">
            <h2>Permissões de usuário</h2>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Perfil</th>
                        <th>Permissões</th>
                        <th>Acesso</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var perfilUsuario in Model.listaperfisusuario)
                    {
                        var selecionado = perfilUsuario.selecionado ? "checked" : "";
                        var textoSelecionado = perfilUsuario.selecionado ? "Autorizado" : "Negado";
                        var disabilitaProfAluno = (perfilUsuario.descricao.ToUpper() == "PROFESSOR" || perfilUsuario.descricao.ToUpper() == "ALUNO") ? "disabled" : "";

                        <tr data-codperfil="@perfilUsuario.codperfil" data-codperfilusuario="@perfilUsuario.codperfilusuario">
                            <td>@perfilUsuario.descricao</td>
                            <td><span class="perfis-circle-span">@perfilUsuario.permissoes</span></td>
                            <td>
                                <div class="switch">
                                    <label>
                                        <input class="permissao-checkbox" type="checkbox" @selecionado @textoDesabilitado @disabilitaProfAluno>
                                        <span class="lever"></span>
                                        <p class="status-permissao">@textoSelecionado</p>
                                    </label>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if (!ViewBag.ModoVisualizacao)
    {
        <div class="row">
            <div class="center botao-salvar col s12">
                <button type="button" class="btn waves-effect waves-light" id="salvarPerfis" @textoDesabilitado>Salvar</button>
            </div>
        </div>
    }
</div>
