@model  IEnumerable<SLCONSTRUCT.UI.WEB.ViewModels.UnidadeAprendizagemListaDisciplinaGrid>


@if (Model != null && Model.Count() > 0)
{
    if (Model.First().titulo != null)
    {
        <table class="bordered">
            <thead>
                <tr>
                    <th>UA's</th>
                    @*<th>CHECK LIST</th>*@
                    <th>DATA INICÍO</th>
                    <th>DATA FINAL</th>
                    <th>DATA LIMITE</th>
                    <th>STATUS</th>
                    @if (ViewBag.formulario.ToLower().Trim() == "liberacao" && ViewBag.isAdmin != null && ViewBag.isAdmin) 
                    {
                    <th class="center">Visualização</th>
                    }
                    @if (ViewBag.formulario.ToLower().Trim() == "liberacao")
                    {
                        <th class="center">LIBERAÇÃO</th>
                    }
                    @if (ViewBag.formulario.ToLower().Trim() == "correcao" && ViewBag.professortutor)
                    {
                        <th class="center">CORREÇÕES</th>
                    }

                    @if (ViewBag.formulario.ToLower().Trim() == "liberacao")
                    {
                        <th class="center">CANCELAR</th>
                    }
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Where(x => x.codunidadeaprendizagem > 0))
                {
                    var cls = item.status == "Não liberado" ? "disabled" : "";
                <tr data-codunidadeaprendizagem="@item.codunidadeaprendizagem" data-coddisciplinacollege="@Model.First().coddisciplinacollege" data-codcursocollege="@Model.First().codcursocollege">

                    <td>@item.titulo</td>
                    @*<td>@item.qtdpendencias</td>*@
                    <td class="data-inicio">@item.datahorainicio</td>
                    <td class="data-final">@item.datahorafim</td>
                    <td class="data-limite">@item.datahoralimiteatraso</td>
                    <td class="status-ua">@item.status</td>
                    @if (ViewBag.formulario.ToLower().Trim() == "liberacao" && ViewBag.isAdmin)
                    {
                        <td class="center btnliberar">
                            <i class="far fa-eye visualizar"></i>
                        </td>
                    }
                    @if (@item.status.ToUpper() != "CANCELADA" && ViewBag.formulario.ToLower().Trim() == "liberacao")
                    {
                        <td class="center btnliberar">
                            <a @*href="@Url.Action("Liberacao", "UnidadeAprendizagemLiberacao", new { codunidadeaprendizagem = item.codunidadeaprendizagem, codcursocollege = item.codcursocollege, coddisciplinacollege = item.coddisciplinacollege })"*@><i class="fas fa-edit"></i></a>
                        </td>
                    }
                    @if (@item.status.ToUpper() != "CANCELADA" && ViewBag.formulario.ToLower().Trim() == "correcao" && ViewBag.professortutor)
                    {
                        <td class="center btncorrecao @cls">
                            <a class="disabled" @*href="@Url.Action("Listagem", "CorrecaoMacrodesafio", new { codcursocollege = item.codcursocollege, coddisciplinacollege = item.coddisciplinacollege, codturmacollege = item.codturmacollege })"*@><i class="fas fa-edit"></i></a>
                        </td>
                    }

                    @if (@item.status.ToUpper() != "NÃO LIBERADA" && @item.status.ToUpper() != "CANCELADA" && ViewBag.formulario.ToLower().Trim() == "liberacao")
                    {


                        <td class="center btncancelar">
                            <a class="disabled"><i class="fas fa-trash-alt"></i></a>
                        </td>

                    }
                </tr>
                }
            </tbody>
        </table>
        @*<a class="btn" href="@Url.Action("Cadastro", "UnidadeAprendizagem", new { codunidadeaprendizagem = 0, coddisciplinacollege = Model.First().coddisciplinacollege, codcursocollege = Model.First().codcursocollege })">criar ua</a>*@
    }
    else
    {
        <h6>Nenhuma Unidade de Aprendizagem cadastrada @*<a href="@Url.Action("Cadastro", "UnidadeAprendizagem", new {codunidadeaprendizagem = 0, coddisciplinacollege = Model.First().coddisciplinacollege, codcursocollege = Model.First().codcursocollege })"><i class="fas fa-plus sl-navy-blue"></i></a>*@</h6>
    }
}




