@model SLCONSTRUCT.UI.WEB.ViewModels.GuiaEstudoUAVModel
@using (Html.BeginForm("", "", FormMethod.Post, new { data_js = "form-validate", id = "frmCadastroUnidadeAprendizagemGuiaEstudo", data_url = Url.Action("", "") }))
{
    @*<input type="hidden" name="guiaestudopdf" value="" />
        <input type="hidden" name="guiaestudoscorm" value="" />*@
    @Html.HiddenFor(x => x.guiaestudoscorm)
    @Html.HiddenFor(x => x.guiaestudopdf)
    <div id="guia-estudo" class="bloco-conteudo-padrao">

        <div class="titulo-section">
            <i class="fas fa-chalkboard icon-padrao-fa5"></i><h2 class="sl-titulo-default sl-navy-blue">GUIA DE ESTUDOS - SELECIONE UM OU MAIS GUIA DE ESTUDO PARA ESTA UNIDADE</h2>
        </div>
        <div class="container-guia-estudo-macro">
            @if (Model.codmodalidade == 2)
            {
                <div class="container-guia-estudo">
                    <div class="container-guia center">

                        @if (Model.guiaEstudoList != null && Model.guiaEstudoList.Count() > 0)
                        {
                            foreach (var item in Model.guiaEstudoList)
                            {
                                //if (!item.scorm)
                                //{
                                var attr = HtmlHelper.AnonymousObjectToHtmlAttributes(new { @id = "datahib" + item.codconteudo, @type = "checkbox", @class = "filled-in" });
                                string check = item.selecionado ? "checked" : "";
                                <div class="container-guia--box">
                                    @*@if (item.selecionado)
                                {
                                    attr.Add("checked", "");
                                }*@
                                    @*@Html.CheckBox("guiaestudopdf", item.selecionado, attr)*@
                                    <input type="checkbox" id="datahib-@item.codconteudo" class="filled-in" @check />
                                    <label data-url="@item.url" for="@string.Format("datahib-{0}", item.codconteudo)" data-codarquivo="@item.codconteudo" data-titulo="@item.nomeguiaestudo">@item.nomeguiaestudo</label>
                                    <i class="fas fa-eye visualiza visualiza-guia"></i>
                                    <i class="far fa-file-alt doc-pdf"></i>
                                </div>


                                //}
                            }
                        }
                        else
                        {
                            <div class="aviso center">
                                <h6 class="aviso--msg">
                                    Nenhum Guia de Estudo (texto) cadastrado
                                </h6>
                            </div>
                        }
                    </div>
                    <div class="arquivo-section">
                        @if (Model.guiaEstudoList != null && Model.guiaEstudoList.Count() > 0)
                        {
                            foreach (var item in Model.guiaEstudoList.Where(x => x.selecionado))
                            {
                                <div><i class="fas fa-check"></i><h2 class="sl-titulo-default sl-navy-blue" data-codarquivo="@item.codconteudo" data-titulo="@item.nomeguiaestudo">@item.nomeguiaestudo</h2></div>
                            }
                        }
                    </div>
                </div>
            }
            else if (Model.codmodalidade == 1)
            {
                <div class="container-guia-estudo">
                    <div class="container-guia center">

                        @if (Model.guiaEstudoList != null && Model.guiaEstudoList.Count() > 0)
                        {
                            foreach (var item in Model.guiaEstudoList)
                            {
                                //if (!item.scorm)
                                //{
                                var attr = HtmlHelper.AnonymousObjectToHtmlAttributes(new { @id = "datahib" + item.codconteudo, @type = "checkbox", @class = "filled-in" });
                                string check = item.selecionado ? "checked" : "";
                                <div class="container-guia--box">
                                    @*@if (item.selecionado)
                                {
                                    attr.Add("checked", "");
                                }*@
                                    @*@Html.CheckBox("guiaestudopdf", item.selecionado, attr)*@
                                    <input type="checkbox" id="datahib-@item.codconteudo" class="filled-in" @check />
                                    <label data-url="@item.url" for="@string.Format("datahib-{0}", item.codconteudo)" data-codarquivo="@item.codconteudo" data-titulo="@item.nomeguiaestudo">@item.nomeguiaestudo</label>
                                    <i class="fas fa-eye visualiza visualiza-guia"></i>
                                    <i class="far fa-file-alt doc-pdf"></i>
                                </div>


                                //}
                            }
                        }
                        else
                        {
                            <div class="aviso center">
                                <h6 class="aviso--msg">
                                    Nenhum Guia de Estudo (texto) cadastrado
                                </h6>
                            </div>
                        }
                    </div>
                    <div class="arquivo-section">
                        @if (Model.guiaEstudoList != null && Model.guiaEstudoList.Count() > 0)
                        {
                            foreach (var item in Model.guiaEstudoList.Where(x => x.selecionado))
                            {
                                <div><i class="fas fa-check"></i><h2 class="sl-titulo-default sl-navy-blue" data-codarquivo="@item.codconteudo" data-titulo="@item.nomeguiaestudo">@item.nomeguiaestudo</h2></div>
                            }
                        }
                    </div>
                </div>
            }
            <div class="center botao-salvar">
                <button type="button" class="btn waves-effect waves-light salvar">salvar</button>
            </div>
        </div>
    </div>
}
<div id="modal-pdf" class="modal default-sl-blue modal-fixed-footer">
    <div class="modal-header">
        <span class="modal-close-default-sl modal-close">fechar <i class="far fa-window-close"></i></span>
    </div>
    <div class="modal-content">
        
    </div>
</div>

<div id="modal-text" class="modal default-sl-blue modal-fixed-footer">
    <div class="modal-header">
        <span class="modal-close-default-sl modal-close">fechar <i class="far fa-window-close"></i></span>
    </div>
    <div class="modal-content">
        <div class="border_">
            <h3 class="title_">Titulo:</h3>
            <p></p>
        </div>
        <div class="border_">

        </div>
        <div class="border_">

        </div>
    </div>
</div>
