@model SLCONSTRUCT.UI.WEB.ViewModels.InfograficoVModel

<div id="infografico" class="bloco-conteudo-padrao">
    <div class="titulo-section">
        <i class="fas fa-file icon-padrao-fa5"></i>
        <h2 class="sl-titulo-default">
            ARQUIVOS - Selecione um ou mais arquivos para esta Unidade.
        </h2>
    </div>
    <div class="container-infografico-macro">
        <div class="container-infografico center">
            <h2 class="subtitle-arquivos">Sintese</h2>
            @if (Model != null && Model.Sintese != null && Model.Sintese.Count() > 0)
            {
                foreach (var item in Model.Sintese)
                {
                    if (item.conteudo.IndexOf(".pdf") >= 0)
                    {
                        var base64PDF = item.conteudo64.Replace("data:image/png;base64,", "data:application/pdf;base64,");
                        var checado = item.selecionado ? "checked" : "";
                        <div class="container-infografico--box">
                            <input type="checkbox" id="@item.codconteudo" class="filled-in" @checado />
                            <label for="@item.codconteudo" data-src="@base64PDF" data-extensao="@item.conteudo" data-titulo="@item.titulo" data-codarquivo="@item.codconteudo"></label>
                            <i class="fas fa-eye visualiza is-pdf"></i>
                            <i class="far fa-file-pdf doc-pdf"></i>

                        </div>
                    }
                    else
                    {
                        var checado = item.selecionado ? "checked" : "";
                        <div class="container-infografico--box">
                            <input type="checkbox" id="@item.codconteudo" class="filled-in" @checado />
                            <label for="@item.codconteudo" data-src="@item.conteudo64" data-titulo="@item.titulo" data-codarquivo="@item.codconteudo"></label>
                            <i class="fas fa-eye visualiza"></i>
                            <img class="infografico-imagem" id="" src="@item.conteudo64" alt="" />
                        </div>
                    }
                }
            }
            else
            {
                <div class="aviso center">
                    <h6 class="aviso--msg">
                        Nenhum Infográfico cadastrado.
                    </h6>
                </div>
            }
        </div>
        <div class="arquivo-section">
            @if (Model != null && Model.Sintese != null && Model.Sintese.Count() > 0)
            {
                foreach (var X in Model.Sintese)
                {
                    if (X.selecionado)
                    {
                        <div>
                            <i class="fas fa-check"></i>
                            <h2 class="sl-titulo-default sl-navy-blue" data-codarquivo="@X.codconteudo">@X.titulo</h2>
                        </div>
                    }
                }
            }
        </div>


        @*DESTAQUES*@
        <div class="container-destaques center">
            <h2 class="subtitle-arquivos">Destaques</h2>
            @if (Model != null && Model.Destaque != null && Model.Destaque.Count() > 0)
            {
                foreach (var item in Model.Destaque)
                {
                    if (item.conteudo.IndexOf(".pdf") >= 0)
                    {
                        var base64PDF = item.conteudo64.Replace("data:image/png;base64,", "data:application/pdf;base64,");
                        var checado = item.selecionado ? "checked" : "";
                        <div class="container-destaques--box">
                            <input type="checkbox" id="@item.codconteudo" class="filled-in" @checado />
                            <label for="@item.codconteudo" data-src="@base64PDF" data-extensao="@item.conteudo" data-titulo="@item.titulo" data-codarquivo="@item.codconteudo"></label>
                            <i class="fas fa-eye visualiza is-pdf"></i>
                            <i class="far fa-file-pdf doc-pdf"></i>

                        </div>
                    }
                    else
                    {
                        var checado = item.selecionado ? "checked" : "";
                        <div class="container-destaques--box">
                            <input type="checkbox" id="@item.codconteudo" class="filled-in" @checado />
                            <label for="@item.codconteudo" data-src="@item.conteudo64" data-titulo="@item.titulo" data-codarquivo="@item.codconteudo"></label>
                            <i class="fas fa-eye visualiza"></i>
                            <img class="destaques-imagem" id="" src="@item.conteudo64" alt="" />
                        </div>
                    }
                }
            }
            else
            {
                <div class="aviso center">
                    <h6 class="aviso--msg">
                        Nenhum Destaque cadastrado.
                    </h6>
                </div>
            }
        </div>
        <div class="arquivo-section">
            @if (Model != null && Model.Destaque != null && Model.Destaque.Count() > 0)
            {
                foreach (var X in Model.Destaque)
                {
                    if (X.selecionado)
                    {
                        <div>
                            <i class="fas fa-check"></i>
                            <h2 class="sl-titulo-default sl-navy-blue" data-codarquivo="@X.codconteudo">@X.titulo</h2>
                        </div>
                    }
                }
            }
        </div>


        <div class="center botao-salvar">
            <button type="button" class="btn waves-effect waves-light salvar">salvar</button>
        </div>
    </div>


    <div id="modalimg" class="modal default-sl-blue modal-fixed-footer">
        <div class="modal-header">
            <span class="modal-close-default-sl modal-close">fechar <i class="far fa-window-close"></i></span>
        </div>
        <div class="modal-content">
            <img class="modalConteudo" id="imgModal" src="">
        </div>
    </div>


</div>