@model  List<SLCONSTRUCT.UI.WEB.ViewModels.ListagemItensDesafioVModel>

@for (var i = 0; i < Model.Count(); i++)
{
    var selectedItem = "";
    var estiloSemCancelamento = !Model.ToList()[i].selecionado ? "justify-content: flex-end;" : "";
    if (@Model.ToList()[i].selecionado)
    {
        selectedItem = "checked";
    }


    <div class="list-enunciados" data-cancelado="@Model.ToList()[i].cancelado" data-coddesafioitem="@Model.ToList()[i].coddesafioitem" data-coditemmatriz="@Model.ToList()[i].coditemmatriz" data-codunidadeaprendizagemtrilha="@Model.ToList()[i].codunidadeaprendizagemtrilha" data-codigodescritor="@Model.ToList()[i].codigodescritor" data-coditemmatriz="@Model.ToList()[i].coditemmatriz">
        <div class="list-enunciados--check">
            <input type="checkbox" class="checkbox-enunciado-item filled-in" id="enunciado-@Model.ToList()[i].coditemmatriz" @selectedItem />
            <label for="enunciado-@Model.ToList()[i].coditemmatriz"></label>
        </div>
        <div class="list-enunciados--titulo">
            <span>@Model.ToList()[i].texto</span>
            @if (Model.ToList()[i].canceladoEmAlgumaUnidade)
            {
                <strong class="red-text">(Questão já foi cancelada em alguma UA)</strong>
            }
        </div>
        <div class="visualiza-item" style="@estiloSemCancelamento">
            @if (ViewBag.PossuiPermissaoCancelamentoQuestao && @Model.ToList()[i].selecionado)
            {
                <span id="icon-cancelar"><i style="font-size: 20px;" class="fas fa-ban icon-padrao-fa5 icon-cancel-micro"></i></span>
            }
            <span class="icon-visualizar"><i class="fas fa-eye icon-padrao-fa5"></i></span>
        </div>
    </div>
}
