@model  SLCONSTRUCT.UI.WEB.ViewModels.ListagemDesafioUAVModel
<script>
    var qtdQuestoes = @Model.qtdquestoes;
    var codigodesafio = @Model.coddesafio;
    var possuiPermissaoCancelamentoQuestao = @ViewBag.PossuiPermissaoCancelamentoQuestao.ToString().ToLower();
</script>

<div class="modal-header">
    <span class="modal-close-default-sl modal-close">fechar <i class="far fa-window-close"></i></span>
</div>
<div class="micro-modal-content">
    <div class="row container-descritores lista-disciplina">
        <div class="col s12">
            <h4 class="nome-microdesafio">Microdesafio 01</h4>

            @if (Model.listagemDescritoresHabilidade != null && Model.listagemDescritoresHabilidade.Count() > 0)
            {
                <ul class="collapsible lista-disciplina--collapsible" data-collapsible="accordion" data-codunidadeaprendizagemtrilha="@Model.codunidadeaprendizagemtrilha">

                    @for (var i = 0; i < Model.listagemDescritoresHabilidade.Count(); i++)
                    {
                        <li>
                            <div class="check-descritor">
                                <div class="check hide">
                                    <input type="checkbox" class="checkbox-enunciado filled-in" id="@Model.listagemDescritoresHabilidade[i].Value"/>
                                    <label for="@Model.listagemDescritoresHabilidade[i].Value"></label>
                                </div>
                            </div>
                            <div class="collapsible-header" data-coddescritor="@Model.listagemDescritoresHabilidade[i].Value" data-quantidadeQuestoesTotal="@Model.listagemDescritoresHabilidade[i].quantidadeQuestoesTotal" data-quantidadeQuestoesSelecionadas="@Model.listagemDescritoresHabilidade[i].quantidadeQuestoesSelecionadas">
                                @Model.listagemDescritoresHabilidade[i].Text
                                <i class="fas fa-chevron-down"></i>

                            </div>
                            <div class="collapsible-body">

                            </div>
                        </li>
                    }
                </ul>
            }
            else
            {
                <h5 class="microdesafio-sem-questao">Não há descritores disponíveis para cadastro do Microdesafio</h5>
            }
        </div>
    </div>
    @if (Model.listagemDescritoresHabilidade != null && Model.listagemDescritoresHabilidade.Count() > 0)
    {
        <div class="input-field col s12 select-questao">
            <select class="target-qtdQuestoes" id="target-qtdQuestoes">
                <option value="" disabled selected>Selecione</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <label for="target-qtdQuestoes">Selecione a quantidade de questões que serão exibidas para o aluno</label>
        </div>
        <div class="center">
            <button class="btn waves-effect waves-light salvar disabled">Salvar</button>
        </div>
    }
</div>

