@model SLCONSTRUCT.UI.WEB.ViewModels.MicroDesafioVModel

<div class="modal-header">
    <p class="titulo-modal">
        UA <i class="fas fa-angle-right" aria-hidden="true"></i>
        PRÉ - VISUALIZAÇÃO
    </p>
    <span class="id-questao">
        @{var idQuestao = "ID questão: ";}

        @if (Model.coditem > 0)
        {
            @idQuestao @Model.coditem
        }
    </span>
    <span class="modal-close-default-sl modal-close">fechar <i class="fas fa-times"></i></span>
</div>
<div class="micro-modal-content visualizamicromodal modal-content">
    <div class="row micro-modal-info">
        <div class="row">
            <div class="input-field col l6">
                <input value="@Model.DescricaoBanca" disabled id="banca" type="text" class="validate">
                <label>Banca</label>
            </div>
            <div class="input-field col l6">
                <input value="@Model.DescricaoAutor" disabled id="autor" type="text" class="validate">
                <label>Autor</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col l12">
                <textarea id="titulo" class="materialize-textarea" disabled>@Model.TituloQuestao</textarea>
                <label>Título Questão</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 modal-enunciado-conteudo">
                <label>ENUNCIADO</label><br />
                @Html.Raw(HttpUtility.HtmlDecode(Model.Enunciado))
            </div>
        </div>
        <div class="row">
            <div class="input-field col l12">
                <input value="@Model.DescricaoDificuldade" disabled id="Dificuldade" type="text" class="validate">
                <label>Dificuldade</label>
            </div>
        </div>
        <div class="row">
            @if (Model.alternativas.Count() > 0)
            {
                var i = 1;
            <ul class="collapsible items-" data-collapsible="accordion">
                
                @foreach (var item in Model.alternativas)
                {

                    var Alternativa = item.correta ? "Correta" : "Incorreta";
                    var certa_errada = item.correta ? "ok" : "nok";
                    <li>
                        <div class="collapsible-header">Alternativa @i <span class="classe-alternativa-@certa_errada">@Alternativa</span> </div>
                        <div class="collapsible-body">
                            <span class="descricao-justificativa">Descrição:</span>
                            <p>@Html.Raw(HttpUtility.HtmlDecode(item.descricao))</p>
                            <span class="descricao-justificativa">Justificativa:</span>
                            <p>@Html.Raw(HttpUtility.HtmlDecode(item.justificativa))</p>
                        </div>
                    </li>
                    i++;
                }
            </ul>
            }
            
        </div>

    </div>
</div>

