

<div class="col l12 no-padding">
    <div class="wizard_new_head ">
        <div class="wizard_new">
            <ul>
                <li data-etapa="1"><a class="clickoption" data-href="@Url.Action("LoadDefinicoesGerais", "UnidadeAprendizagem")" href="#"><span>Definições Gerais</span></a></li>
                <li data-etapa="2"><a class="clickoption" data-href="@Url.Action("LoadGuiaEstudo", "UnidadeAprendizagem")" href="#"><span>Guia de Estudo</span></a></li>
                <li data-etapa="3"><a class="clickoption" data-href="@Url.Action("LoadVideo", "UnidadeAprendizagem")" href="#"><span>Vídeos</span></a></li>
                <li data-etapa="4"><a class="clickoption" data-href="@Url.Action("LoadInfografico", "UnidadeAprendizagem")" href="#"><span>Arquivos</span></a></li>
                <li data-etapa="5"><a class="clickoption" data-href="@Url.Action("LoadMacrodesafio", "UnidadeAprendizagem")" href="#"><span>Macrodesafio</span></a></li>
                <li data-etapa="6"><a class="clickoption" data-href="@Url.Action("LoadMicrodesafio", "UnidadeAprendizagem")" href="#"><span>Microdesafio</span></a></li>
                <li data-etapa="7"><a class="clickoption" data-href="@Url.Action("LoadOrganizacao", "UnidadeAprendizagem")" href="#"><span>Organização</span></a></li>
                @*<li data-etapa="8"><a class="clickoption" data-href="@Url.Action("LoadPrazosConfiguracoes", "UnidadeAprendizagem")" href="#"><span>Prazos Config</span></a></li>*@
                <li data-etapa="8"><a class="clickoption" data-href="@Url.Action("LoadConclusao", "UnidadeAprendizagem")" href="#"><span>Conclusão</span></a></li>
            </ul>
        </div>
    </div>
</div>
