@model IEnumerable<SLCONSTRUCT.UI.WEB.ViewModels.ListagemCursosEixoVModel>

@{ 
    int qtdresgistros = ViewBag.qtdresgistros;
    int paginaatual = ViewBag.paginaatual;
    int qtdpaginas = ViewBag.qtdpaginas;
    bool seanterior = ViewBag.seanterior;
    bool seproximo = ViewBag.seproximo;
}

<script>
    var paginaatual = @ViewBag.paginaatual;
</script>

<table class="no-padding row">
    <thead class="col s12 no-padding">
        <tr class="item-list title-grid">
            <th>Cursos</th>
            <th class="item-list-col">Disciplinas</th>
            <th class="item-list-col">Habilidades</th>
            <th class="item-list-col">Descritores</th>
            <th>
                <input type="checkbox" class="filled-in" id="check_title" name="check_title">
                <label for="check_title" class="check"></label>
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            var check = item.cursoSelecionado ? "checked" : "";

            <tr class="item-list" data-codcurso="@item.codCurso">
                <td class="descricao">@item.nomeCurso</td>
                <td class="item-list-col"><a class="link-modal" data-modal="#modal-disciplinas" data-url="/Eixo/CadastroDisciplina/?codcurso=@item.codCurso&codeixo=@item.codeixo">@item.qtdeDisciplinas</a></td>
                <td class="item-list-col">@item.qtdeHabilidade</td>
                <td class="item-list-col">@item.qtdeDescritor</td>
                <td>
                    <input type="checkbox" @check class="filled-in" id="check_title_@item.codCurso" name="check_title_@item.codCurso">
                    <label for="check_title_@item.codCurso" class="check"></label>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="footer col s12">
        <div class="row cmp-filtro-avancado no-margin filtro-avancado left">
            <div class="col s12 pagination botoes-paginacao ">
                @if (!seanterior)
                {
                    <button class="disabled btn inicio hide-on-small-only shadow"><i class="fas fa-angle-double-left black-text" aria-hidden="true"></i></button>
                    <button class="disabled btn anterior shadow"><i class="fas fa-angle-left black-text" aria-hidden="true"></i></button>
                }
                else
                {
                    <button class="btn waves-effect inicio hide-on-small-only paginacao shadow" data-pagina="1"><i class="fas fa-angle-double-left black-text" aria-hidden="true"></i></button>
                    <button class="btn waves-effect paginacao anterior shadow" data-pagina="@(paginaatual - 1)"><i class="fas fa-angle-left black-text" aria-hidden="true"></i></button>
                }

                <span class="paginaatual" data-paginaatual="@(paginaatual)">@(paginaatual)/@(qtdpaginas)</span>

                @if (!seproximo)
                {
                    <button class="disabled btn hide-on-small-only proximo shadow"><i class="fas fa-angle-right black-text" aria-hidden="true"></i></button>
                    <button class="disabled btn hide-on-small-only shadow "><i class="fas fa-angle-double-right black-text" aria-hidden="true"></i></button>
                }
                else
                {
                    <button class="btn hide-on-small-only waves-effect paginacao shadow" data-pagina="@(paginaatual + 1)"><i class="fas fa-angle-right black-text" aria-hidden="true"></i></button>
                    <button class="btn hide-on-small-only waves-effect paginacao proximo shadow" data-pagina="@(qtdpaginas)"><i class="fas fa-angle-double-right black-text" aria-hidden="true"></i></button>
                }
            </div>
        </div>
        <div class="right">
            <button class="waves-effect waves-light btn salvar">Salvar</button>
            @*<button class="waves-effect waves-blue btn salvar-criar-novo" style="background: #00CBB5;">Salvar e Criar Novo</button>*@
        </div>
    </div>
</div>


