@model SLCONSTRUCT.UI.WEB.ViewModels.ListagemMatrizVModel

@{
    //int qtdresgistros = ViewBag.qtdresgistros;
    //int paginaatual = ViewBag.paginaatual;
    //int qtdpaginas = ViewBag.qtdpaginas;
    //bool seanterior = ViewBag.seanterior;
    //bool seproximo = ViewBag.seproximo;
}

<table class="no-padding row">
    <thead class="col s12 no-padding">
        <tr class="item-list title-grid">
            <th>@Model.nomeprincipal </th>

            @if (Model.nomeprincipal == "Disciplinas")
            {
                <th class="item-list-col">Habilidades</th>
                <th class="item-list-col">Descritores</th>
            }
            else if (Model.nomeprincipal == "Habilidades")
            {
                <th class="item-list-col">Descritores</th>
            }

            <th colspan="4">
                <input type="checkbox" class="filled-in" id="check_title_@Model.nomeprincipal" name="check_title_@Model.nomeprincipal">
                <label for="check_title_@Model.nomeprincipal" class="check"></label>
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model.lista)
        {
            string checkado = "";
            if (!string.IsNullOrEmpty(item.nomeDisciplina))
            {
                checkado = item.disciplinaSelecionada ? "active" : "";
            }
            else if (!string.IsNullOrEmpty(item.nomeHabilidade))
            {
                checkado = item.habilidadeSelecionada ? "active" : "";
            }
            else if (!string.IsNullOrEmpty(item.nomeDescritor))
            {
                checkado = item.descritorSelecionado ? "active" : "";
            }

            <tr class="item-list @checkado" data-codigo="@item.codigo">
                <td class="descricao">

                    @if (!string.IsNullOrEmpty(item.nomeDisciplina))
                    {
                        @Html.Raw(item.nomeDisciplina)
                    }
                    else if (!string.IsNullOrEmpty(item.nomeHabilidade))
                    {
                       
                        @Html.Raw(item.nomeHabilidade)
                    }
                    else if (!string.IsNullOrEmpty(item.nomeDescritor))
                    {
                       
                        @Html.Raw(item.nomeDescritor)
                    }

                </td>

                @if (!string.IsNullOrEmpty(item.nomeDisciplina))
                {
                    <td class="item-list-col "><a class="link-modal" href="#" data-url="/Eixo/CadastroHabilidades/?coddisciplina=@item.codDisciplina&codcurso=@item.codCurso&codeixo=@item.codeixo">@item.qtdeHabilidade</a></td>
                    <td class="item-list-col">@item.qtdeDescritor</td>
                }
                else if (!string.IsNullOrEmpty(item.nomeHabilidade))
                {
                    <td class="item-list-col"><a class="link-modal" href="#" data-url="/Eixo/CadastroDescritores/?codhabilidade=@item.codHabilidade&coddisciplina=@item.codDisciplina&codcurso=@item.codCurso&codeixo=@item.codeixo">@item.qtdeDescritor</a></td>
                }


                @if (!string.IsNullOrEmpty(item.nomeDisciplina))
                {
                    var cls = item.disciplinaSelecionada ? "checked" : "";

                    <td>
                        <input type="checkbox" class="filled-in" id="check_title_@item.codDisciplina" @cls name="check_title_@item.codDisciplina">
                        <label for="check_title_@item.codDisciplina" class="check"></label>
                    </td>
                }


                else if (!string.IsNullOrEmpty(item.nomeHabilidade))
                {
                    var cls = item.habilidadeSelecionada ? "checked" : "";
                    <td>
                        <input type="checkbox" class="filled-in" id="check_title_@item.codHabilidade" @cls name="check_title_@item.codHabilidade">
                        <label for="check_title_@item.codHabilidade" class="check"></label>
                    </td>
                }


                else if (!string.IsNullOrEmpty(item.nomeDescritor))
                {
                    var cls = item.descritorSelecionado ? "checked" : "";
                    <td>
                        <input type="checkbox" class="filled-in" id="check_title_@item.codDescritor" @cls name="check_title_@item.codDescritor">
                        <label for="check_title_@item.codDescritor" class="check"></label>
                    </td>
                }
            </tr>
        }

    </tbody>
</table>

<div class="footer col s12">

    <div class="right">
        <button class="waves-effect waves-light btn modais-salvar">Salvar</button>
    </div>

</div>

