@model SLCONSTRUCT.UI.WEB.ViewModels.ListagemCorrecaoVModel

@{
    int qtdresgistros = ViewBag.qtdresgistros;
    int paginaatual = ViewBag.paginaatual;
    int qtdpaginas = ViewBag.qtdpaginas;
    bool seanterior = ViewBag.seanterior;
    bool seproximo = ViewBag.seproximo;
}

@Html.Hidden("qtdresgistros", qtdresgistros)
@Html.Hidden("paginaatual", paginaatual)
@Html.Hidden("qtdpaginas", qtdpaginas)
@Html.Hidden("seanterior", seanterior)
@Html.Hidden("seproximo", seproximo)


<div class="col l12 resultados">

    <p>
        Resultados:     <button id="enviar_nota_todas" type="button" class="btn right">enviar todas as notas</button>
    </p>


    <table class="bordered">
        <thead>
            <tr>
                <th>MATRÍCULA</th>
                <th>NOME</th>
                <th>MICRODESAFIO</th>
                <th>STATUS MACRODESAFIO</th>
                <th>NOTA MACRODESAFIO</th>
                <th class="center"></th>
                <th class="center"></th>
                @*<th class="-acoes relative">NOTAS <span class="help" title="Ajuda aqui....">?</span></th>*@
            </tr>
        </thead>

        <tbody>

            @if (Model != null && Model.listacorrecao != null && Model.listacorrecao.Count() > 0)
            {
                //foreach (var item in Model.listacorrecao)
                for (var i = 0; i < Model.listacorrecao.Count(); i++)
                {
                    var item = Model.listacorrecao.ToList()[i];
                    var enableBtnNovaTentativaUa = item.nenhumDesafioFoiRealizado ? "" : "disabled";
                    <tr>
                        <td>@item.matricula</td>
                        <td class="nome">@item.nome</td>

                        <td class="col-microdesafio" data-codunidadeaprendizagempessoa="@item.codunidadeaprendizagempessoa">
                            @item.mediamicrodesafios
                            <i class="fas fa-search"></i>
                        </td>

                        <td class="status-macro">@item.statusMacrodesafio</td>

                        @if (item.uafinalizada || (item.permissaoreabrirmacrodesafio && item.statusMacrodesafio == "Corrigido"))
                        {
                            <td class="col-macrodesafio acao dropdown-button" data-activates="acao-user-table_@i">
                                @item.notaMacrodesafio
                                @if ((item.permissaoreabrirmacrodesafio && item.statusMacrodesafio == "Corrigido") || (item.statusMacrodesafio.ToUpper() != "ENTREGUE" && item.statusMacrodesafio.ToUpper() != "ABERTO PARA ENVIO" && item.statusMacrodesafio.ToUpper() != "RASCUNHO"))
                                {
                                    <i class="fas fa-ellipsis-v"></i>
                                }

                                <ul id="acao-user-table_@i" class='dropdown-content' style="width: 200px;">
                                    @if (item.permissaoreabrirmacrodesafio && item.statusMacrodesafio == "Corrigido")
                                    {

                                        <li class="reabrir" data-codpessoadesafiocorrecao="@item.codpessoadesafiocorrecao"><i class="fas fa-pen-square"></i>Reabrir Correção</li>

                                    }
                                    else if (item.statusMacrodesafio.ToUpper() != "ENTREGUE" && item.statusMacrodesafio.ToUpper() != "ABERTO PARA ENVIO")
                                    {
                                        <li data-codpessoadesafiotentativa="@item.codpessoadesafiotentativa" data-codpessoadesafiotentativaresposta="@item.codpessoadesafiotentativaresposta" class="nova-tentativa-list"><i class="far fa-calendar-plus"></i>Nova Tentativa</li>
                                    }
                                </ul>
                            </td>
                        }

                        <td>
                            @if (item.statusMacrodesafio == "Corrigido" && item.precisaintegrar)
                            {
                                <button id="enviar_nota_unt" type="button" data-codpessoa="@item.codpessoa" data-nota="@item.notafinal" class="btn" style="width: 130px;padding: 0 1.5rem;">enviar nota</button>
                            }
                            else if (item.statusMacrodesafio == "Corrigido" && !item.precisaintegrar)
                            {
                                <button id="enviar_nota_unt" type="button" data-codpessoa="@item.codpessoa" data-nota="@item.notafinal" class="btn disabled" style="width: 130px;padding: 0 1.5rem;">enviar nota</button>
                            }
                        </td>
                        <td>
                            @if (item.statusMacrodesafio == "Corrigido" && item.precisaintegrar)
                            {
                                <i class="fas fa-check-double icone-nota-nao-enviado tooltipped" data-position="left" data-delay="50" data-tooltip="Nota não enviada"></i>
                            }
                            else if (item.statusMacrodesafio == "Corrigido" && !item.precisaintegrar)
                            {
                                <i class="fas fa-check-double icone-nota-enviado tooltipped" data-position="left" data-delay="50" data-tooltip="Nota enviada"></i>
                            }
                        </td>
                        <td>
                            <button id="nova_tentativa_ua_@item.matricula" type="button" class="btn @enableBtnNovaTentativaUa" style="width: 130px;padding: 0 1.5rem;">UA Inteira</button>
                        </td>                
                    </tr>
                 }
            }
            else
            {
                <tr>
                    <td>Nenhum cadastro</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    @*<td class="-acoes">
                        <i class="fas fa-times error"></i>
                    </td>*@
                </tr>
            }

        </tbody>
    </table>

    <div class="row cmp-filtro-avancado alinhaaltura align-items-center">
        @*<div class="col l6 selectPaginacao">
                <select id="selectPaginacao">
                    <option value="">Nº registros</option>
                    <option value="10" selected> 10 </option>
                    <option value="25"> 25 </option>
                    <option value="50"> 50 </option>
                    <option value="100">100 </option>
                </select>
            </div>*@
        <div class="col l6 pagination botoes-paginacao">

            @if (Model.existeMacroDesafioCancelado)
            {
                <div class="left">
                    <a class="waves-effect waves-light btn" style="width: 175px;padding: 0 1.5rem; background-color: #3d7ae8;">
                        <i class="fas fa-history right"></i>
                        Macrodesafio Cancelador
                    </a> 
                </div>

                <div id="modal-historico-macros-cancelados" class="modal default-sl-blue modal-fixed-footer" style="">
                    <div class="modal-header">
                        <span class="modal-close-default-sl modal-close">
                            fechar<i class="fas fa-window-close" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            }

            <div class="right">
                @if (!seanterior)
                {
                    <button class="disabled btn inicio hide-on-small-only shadow"><i class="fas fa-angle-double-left black-text" aria-hidden="true"></i></button>
                    <button class="disabled btn anterior shadow"><i class="fas fa-angle-left black-text" aria-hidden="true"></i></button>
                }
                else
                {
                    <button class="btn waves-effect inicio hide-on-small-only paginacao shadow" data-pagina="1"><i class="fas fa-angle-double-left black-text" aria-hidden="true"></i></button>
                    <button class="btn waves-effect paginacao anterior shadow" data-pagina="@(paginaatual - 1)"><i class="fas fa-angle-left black-text" aria-hidden="true"></i></button>
                }

                <span>@(paginaatual)/@(qtdpaginas)</span>

                @if (!seproximo)
                {
                    <button class="disabled btn hide-on-small-only proximo shadow"><i class="fas fa-angle-right black-text" aria-hidden="true"></i></button>
                    <button class="disabled btn hide-on-small-only shadow "><i class="fas fa-angle-double-right black-text" aria-hidden="true"></i></button>
                }
                else
                {
                    <button class="btn hide-on-small-only waves-effect paginacao shadow" data-pagina="@(paginaatual + 1)"><i class="fas fa-angle-right black-text" aria-hidden="true"></i></button>
                    <button class="btn hide-on-small-only waves-effect paginacao proximo shadow" data-pagina="@(qtdpaginas)"><i class="fas fa-angle-double-right black-text" aria-hidden="true"></i></button>
                }
            </div>
        </div>
    </div>
</div>
@*<div class="col l12">
        <button type="button" class="btn right">ENVIAR TODAS AS NOTAS</button>
    </div>*@