@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/Content/unidadeAprendizagem/Catalogo/Catalogo.min.css" rel="stylesheet" />
}

@section Scripts {

    <script>
        var urlConsultaCursos = "@Url.Action("GetCursos", "BancoQuestao")"
        var urlConsultaDisciplinas = "@Url.Action("GetDisciplinas", "BancoQuestao")"
        var urlConsultaUnidades = "@Url.Action("PequisarUnidadeAprendizagem", "UnidadeAprendizagem")"
        var urlIncluirUnidade = "@Url.Action("Cadastro", "UnidadeAprendizagem")"
        var urlExcluirUnidade = "@Url.Action("ExcluirUnidade", "UnidadeAprendizagem")"
    </script>
    <script src="~/Scripts/UnidadeAprendizagem/catalogo/catalogo.js"></script>
    @*<script src="~/Scripts/UnidadeAprendizagem/IntegracaoCanvas/Assignments.js"></script>*@
}

<div id="catalogoUnidadeAprendizagem" class="principal">
    <div class="row">
        <div class="col l12 no-padding">
            <div>
                <i class="fas fa-home icon-padrao botao-home" aria-hidden="true"></i><h2 class="sl-titulo sl-navy-blue">Catálogo UA's</h2>
            </div>
        </div>
        <div class="col l12 no-padding">
            <div class="divPartial">
                <div class="bloco-conteudo-padrao-pesquisa">
                    <div class="row">
                        @*<div class="col s12">
                            <ul class="tabs menu-">
                                <li class="tab col s3"><a class="active" href="#meucatalogo">Meu catálogo</a></li>
                                <li class="tab col s3"><a href="#catalogocompleto">Catálogo completo</a></li>
                            </ul>
                        </div>*@
                        <div id="meucatalogo" class="col l12">
                            <div class="input-field col l6">
                                <select id="ddlCursos"></select>
                                <label>Curso</label>

                            </div>
                            <div class="input-field col l6">
                                <select id="ddlDisciplinas"></select>
                                <label>Disciplina</label>
                            </div>
                            <div class="input-field col l12">
                                <input placeholder="Ex: CodigoDoPacote, status" id="txtTexto" type="text" class="validate">
                                <label for="texto">Campo de busca</label>
                            </div>
                            <div class="center col l6">
                                <button class="btn" id="btnPesquisarUnidades" type="button"><i class="fas fa-search"></i> Pesquisar</button>
                            </div>
                            @if (ViewBag.PossuiPermissaoGravacao)
                            {
                                <div class="center col l6">
                                    <button class="btn" id="btnIncluirNovo" type="button"><i class="fas fa-plus-circle"></i> Incluir Novo</button>
                                </div>
                            }

                        </div>
                    </div>
                   
                </div>
                <div id="divgridpartial"></div>
@*                @Html.Partial("~/Views/UnidadeAprendizagem/Catalogo/Partial/CardsUAsPartial.cshtml")*@
            </div>
        </div>
    </div>
</div>

