@model SLCONSTRUCT.UI.WEB.ViewModels.ExecucoesVModel

@using (Html.BeginForm("EnviarTerms", "Home", FormMethod.Post, new { id = "frmExecucoes", data_js = "form-validate" }))
{
    <div>
        <div class="row">
            <div class="col s12 no-padding">
                <h2 class="center" style="margin: 4rem 0;">EXECUTE OS ARQUIVOS DE ACORDO COM AS ORDENS ABAIXO:</h2>

                <div class="arquivos center">
                    <div class="etapa">
                        <div class="label"></div>
                        <div class="select-dropdown tooltipped" data-position="top" data-delay="50" data-tooltip="Este arquivo é gerado manualmente<br>dentro do CANVAS" href="#" data-activates="dropdown-accounts">
                            <a class="dropdown-button btn" disabled>
                                <i class="fa fa-lock" aria-hidden="true"></i> Accounts
                            </a>
                        </div>
                    </div>

                    <div class="etapa">
                       <div class="label">
                          <span>1 - TERMS</span>
                       </div>
                    
        @*<div class="select-dropdown">
            @Html.DropDownListFor(m => m.periodoletivo, Model.periodoletivo.Where(s => s.Text != "TODOS"), "SELECIONAR", new { required = "required", @class = "dropterms" })
        </div>*@
                        <div class="select-dropdown dropinstituicao">
                            <select>
                                <option value="0">SELECIONAR</option>
                                <option value="1,1">Centro Universitário São Lucas - PVH SEDE</option>
                                <option value="3,1">Faculdade São Lucas - Caçapava</option>
                                <option value="3,2">Centro Universitário São Lucas - Ji-Paraná</option>
                                <option value="3,4">Faculdade São Lucas Porto Velho - Unidade II</option>
                                <option value="1,6">Faculdade São Lucas - São José dos Campos</option>
                            </select>
                        </div>
                    </div>

                    <div class="etapa">
                        <div class="label">
                            @*<i class="fas fa-cloud-download-alt"></i>*@
                            <span>2 - USERS</span>
                        </div>

                        <div class="select-dropdown">
                            @Html.DropDownListFor(m => m.codmodalidadeusers, Model.modalidades.Where(s => s.Text == "TODOS"), "SELECIONAR", new { required = "required", @class = "dropusers" })
                        </div>
                    </div>

                    <div class="etapa">
                        <div class="label">
                            @*<i class="fas fa-cloud-download-alt"></i>*@
                            <span>3 - COURSE</span>
                        </div>

                        <div class="select-dropdown dropcourse">
                            @Html.DropDownListFor(m => m.codmodalidadecourse, Model.modalidades.Where(s => s.Text != "TODOS"), "SELECIONAR", new { required = "required", @class = "dropcourse" })
                        </div>
                    </div>

                    <div class="etapa">
                        <div class="label">
                            @*<i class="fas fa-cloud-download-alt"></i>*@
                            <span>4 - SECTIONS</span>
                        </div>

                        <div class="select-dropdown dropsections">
                            @Html.DropDownListFor(m => m.codmodalidadesections, Model.modalidades.Where(s => s.Text != "TODOS"), "SELECIONAR", new { required = "required", @class = "dropsections" })
                        </div>
                    </div>

                    <div class="etapa">
                        <div class="label">
                            @*<i class="fas fa-cloud-download-alt"></i>*@
                            <span>5 - ENROLLMENTS</span>
                        </div>

                        <div class="select-dropdown dropenrollments">
                            @Html.DropDownListFor(m => m.codmodalidadeenrollments, Model.modalidades.Where(s => s.Text != "TODOS"), "SELECIONAR", new { required = "required", @class = "dropenrollments" })
                        </div>
                    </div>
                </div>

                <div class="steps center">
                    <ul class="steps-list" style="display: flex;align-items: center;justify-content: space-evenly;">
                        <li id="stepAccounts" class="steps-item -done" style="    width: 103px;">
                            <div class="marcador"></div>
                            <div class="icon-wrapper">
                            </div>
                        </li>

                        @*<li id="stepTerms" class="steps-item -todo">
                            <div class="marcador"></div>
                            <div class="icon-wrapper">
                            </div>
                        </li>*@

                        @foreach (var item in Model.arquivos)
                        {
                            <li id="@("step" + item)" class="steps-item -todo">
                                <div class="marcador"></div>
                                <div class="icon-wrapper">
                                    <i class="done fa fa-check-circle" aria-hidden="true"></i>
                                    <i class="doing fa fa-spinner" aria-hidden="true"></i>
                                    <i class="error fa fa-times" aria-hidden="true"></i>
                                </div>
                            </li>
                        }
                    </ul>
                    @*<div class="divider"></div>*@
                </div>

                <button id="btnExecutar" type="button" class="btn waves-effect">
                    <span class="executar">Executar</span>
                    <span class="executando">
                        @*<i class="doing fa fa-spinner" aria-hidden="true"></i>*@
                        Executando...
                    </span>
                </button>
            </div>
        </div>
    </div>    

}

<h3 style="padding-left:1rem">ÚLTIMOS LOTES ENVIADOS</h3>
<table class="bordered highlight">
    <thead>
        <tr>
            <th>data</th>
            <th>tipo</th>
            <th id="colErros">críticas e erros</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.lote)
        {
            <tr>
                <td>@item.datahoraformatado</td>
                <td>@item.tipoarquivo</td>
                <td>
                    <button type="button" class="btn-flat btn-floating waves-effect btn-retorna-lote" data-idretornointegracao="@item.idretornointegracao"><i class="fa fa-eye" aria-hidden="true"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

