@model  SLCONSTRUCT.UI.WEB.ViewModels.TabelaGuiaEstudoHibridoVmodel

<div class="col l2 titulo-item">
    <p>Guia de estudos</p>
    <p>(texto)</p>
    @if (ViewBag.PossuiPermissaoGravacao)
    {
        if (Model.Unidades.Count() > 0)
        {
            <i class="fa fa-check checado" aria-hidden="true"></i>
            <a><i class="fa fa-plus adicionar-item abre-modal-guiahibrido" aria-hidden="true"></i></a>
        }
        else
        {
            <i class="fa fa-plus adicionar-item modal-trigger icons-plus-checked-align abre-modal-guiahibrido" aria-hidden="true" href="#modalVideo"></i>
        }
    }

</div>
<div class="col l10">
    <table class="bordered">
        <thead>
            <tr>
                <th class="alinhaguia-first">Unidade</th>
                <th class="alinhaguia">Descrição</th>
                <th class="-acoes alinhaguia-last">Ações</th>
            </tr>
        </thead>

        <tbody>
            @if (Model.Unidades.Count() > 0)
            {
                foreach (var item in Model.Unidades)
                {
                    <tr data-codconteudo="@item.codconteudo" data-codbaseunidadeaprendizagem="@Model.codbaseunidadeaprendizagem" data-codconteudounidade="@item.codconteudounidade">
                        <td>@item.NomeUnidade</td>
                        <td class="texto-guia-estudo">@item.Texto</td>
                        <td class="-acoes">
                            @if (ViewBag.PossuiPermissaoGravacao)
                            {
                                <i class="fa fa-trash-o fas fa-trash-alt excluir-unidade-hibrido" aria-hidden="true"></i>
                                <i class="fas fa-pen-square editar-unidade-hibrido" aria-hidden="true"></i>
                            }

                        </td>
                    </tr>
                }
            }
            else
            {

                <tr>
                    <td>Nenhum guia cadastrado</td>
                    <td class="right"></td>
                </tr>
            }
        </tbody>
    </table>
</div>
