@model IEnumerable<SLCONSTRUCT.UI.WEB.ViewModels.ListagemQuestoesUnificacaoVModel>
@{
    int qtdresgistros = ViewBag.qtdresgistros;
    int paginaatual = ViewBag.paginaatual;
    int qtdpaginas = ViewBag.qtdpaginas;
    bool seanterior = ViewBag.seanterior;
    bool seproximo = ViewBag.seproximo;

    var textQtdRegistros = @ViewBag.qtdresgistros == 0 ? "nenhuma questão" : @ViewBag.qtdresgistros > 1 ? @ViewBag.qtdresgistros + " questões" : @ViewBag.qtdresgistros + " questão";
}

<div class="row">
    <h5>
        Resultado: @textQtdRegistros
    </h5>

    @if (Model != null && Model.Count() > 0)
    {
        <table class="highlight">
            <thead>
                <tr>
                    <th  class="id-questao">ID</th>
                    <th>TÍTULO</th>
                    <th>TIPO</th>
                    <th>DATAS</th>
                    <th>STATUS</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var questao in Model)
                {
                    var visibilidadeDatas = !string.IsNullOrEmpty(questao.dataultimaverificacaounificacao) || !string.IsNullOrEmpty(questao.dataunificacao) ? "" : "hide";
                    var visibilidadeDataUnificacao = !string.IsNullOrEmpty(questao.dataunificacao) ? "" : "hide";
                    var visibilidadeDataVisualizacao = !string.IsNullOrEmpty(questao.dataultimaverificacaounificacao) && string.IsNullOrEmpty(questao.dataunificacao) ? "" : "hide";

                <tr data-coditem="@questao.coditem" data-botao="@questao.botaoStatus">
                    <td>@questao.coditem</td>
                    <td>@questao.titulo</td>
                    <td class="td-tipo">@questao.tipoitem</td>
                    <td class="td-data">
                        <div class="container-date">
                            <div>
                                @questao.datacadastro
                                <label>Criação</label>
                            </div>
                            <div class="arrow">
                                <i class="fas fa-arrow-right arrow @visibilidadeDatas"></i>
                            </div>
                            <div class="data-execucoes">
                                <div class="data-unificacao @visibilidadeDataUnificacao">
                                    <span>@questao.dataultimaverificacaounificacao</span>
                                    <label>Unificação</label>
                                </div>
                                <div class="data-verificacao @visibilidadeDataVisualizacao">
                                    <span>@questao.dataultimaverificacaounificacao</span>
                                    <label>Verificação</label>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                }
            </tbody>
        </table>


        <div class="row cmp-filtro-avancado no-margin right filtro-avancado ">
            <div class="col s12 pagination botoes-paginacao ">
                @if (!seanterior)
                {
                    <button class="disabled btn inicio hide-on-small-only shadow"><i class="fas fa-angle-double-left black-text" aria-hidden="true"></i></button>
                    <button class="disabled btn anterior shadow"><i class="fas fa-angle-left black-text" aria-hidden="true"></i></button>
                }
                else
                {
                    <button class="btn waves-effect inicio hide-on-small-only paginacao shadow" data-pagina="1"><i class="fas fa-angle-double-left black-text" aria-hidden="true"></i></button>
                    <button class="btn waves-effect paginacao anterior shadow" data-pagina="@(paginaatual - 1)"><i class="fas fa-angle-left black-text" aria-hidden="true"></i></button>
                }

                <span class="paginaatual" data-paginaatual="@(paginaatual)">@(paginaatual)/@(qtdpaginas)</span>

                @if (!seproximo)
                {
                    <button class="disabled btn hide-on-small-only proximo shadow"><i class="fas fa-angle-right black-text" aria-hidden="true"></i></button>
                    <button class="disabled btn hide-on-small-only shadow "><i class="fas fa-angle-double-right black-text" aria-hidden="true"></i></button>
                }
                else
                {
                    <button class="btn hide-on-small-only waves-effect paginacao shadow" data-pagina="@(paginaatual + 1)"><i class="fas fa-angle-right black-text" aria-hidden="true"></i></button>
                    <button class="btn hide-on-small-only waves-effect paginacao proximo shadow" data-pagina="@(qtdpaginas)"><i class="fas fa-angle-double-right black-text" aria-hidden="true"></i></button>
                }
            </div>
        </div>
        <div id="#options-dropdown">
        </div>
    }

</div>


