@model SLCONSTRUCT.UI.WEB.ViewModels.LogsIntegracaoVModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @*<link href="~/Content/css/IntegracaoDados/Index.css" rel="stylesheet" />*@
    <link href="~/Content/IntegracaoDados/style.min.css" rel="stylesheet" />
    <link href="~/Content/IntegracaoDados/Execucoes.min.css" rel="stylesheet" />
}

@section Scripts {
    <script>
        var urlEnviarTerms = '@Url.Action("EnviarTerms", "IntegracaoDados")',
            urlEnviarUsers = '@Url.Action("EnviarUsers", "IntegracaoDados")',
            urlEnviarCourse = '@Url.Action("EnviarCourse", "IntegracaoDados")',
            urlEnviarSections = '@Url.Action("EnviarSections", "IntegracaoDados")',
            urlEnviarEnrollments = '@Url.Action("EnviarEnrollments", "IntegracaoDados")';

        urlExecutaAnalize = '@Url.Action("ExecutaAnalize", "IntegracaoDados")';
        urlExecutaIntegracaoFael = '@Url.Action("ExecutaIntegracaoFael", "IntegracaoDados")';

            @*urlController = '@Url.Action("ListaUsuarios", "IntegracaoDados")';*@
    </script>
    <script src="~/Scripts/IntegracaoDados/Grid.js"></script>
    <script src="~/Scripts/IntegracaoDados/Index.js"></script>
    <script src="~/Scripts/IntegracaoDados/ListaUsuarios.js"></script>
    <script src="~/Scripts/IntegracaoDados/ListaDisciplinas.js"></script>
    <script src="~/Scripts/IntegracaoDados/ListaMatriculas.js"></script>
    <script src="~/Scripts/IntegracaoDados/ListaAlunosFael.js"></script>
    <script src="~/Scripts/IntegracaoDados/Execucoes.js"></script>
}


<div id="integracao-dados" class="principal">
    <div class="row">
        <div class="col l12 no-padding">
            <div>
                <i class="fas fa-home icon-padrao botao-home" aria-hidden="true"></i><h2 class="sl-titulo sl-navy-blue">SIS INTEGRATION</h2>
                <i class="fas fa-angle-right" aria-hidden="true"></i><h2 class="sl-subtitulo sl-navy-blue">Integração de dados</h2>
            </div>
        </div>
        <div class="col s12 no-padding white" style="margin-top:1.5rem;">
            <div class="padding-lateral">
                <ul class="tabs listas">
                    <li class="tab"><a href="#listaUsuarios">LISTA DE USUÁRIOS</a></li>
                    <li class="tab"><a href="#listaDisciplinas">LISTA DE DISCIPLINAS</a></li>
                    <li class="tab"><a href="#listaMatriculas">LISTA DE MATRÍCULAS</a></li>
                    <li class="tab"><a href="#listaAlunosFael">LISTA DE ALUNOS FAEL</a></li>

                    @*@if (Model.visualizaExecucoes)
                        {*@
                    
                    <div class="right">
                        <li class="tab"><a href="#execucoes"><i class="fas fa-cog" aria-hidden="true" style="font-size:.9rem;"></i> EXECUÇÕES</a></li>
                        <li class="tab"><a href="#refresh"><i class="fas fa-sync-alt" aria-hidden="true" style="font-size:.9rem;"></i> REFRESH</a></li>
                    </div>

                </ul>
            </div>
        </div>

        <div id="conteudoAbas" class="col s12 no-padding" style="width:100%">
            <div id="listaUsuarios" class="col s12 no-padding white padding-lateral" data-url="@Url.Action("ListaUsuarios", "IntegracaoDados")" data-controller="@Url.Action("ListaUsuarios", "IntegracaoDados")">
                <header>
                    <div class="row equal">
                        <div class="input-field col l12 no-padding">
                            <input id="pesquisarUsuarios" type="text" class="input-pesquisa validate" placeholder="Digite algo">
                            <label for="pesquisarUsuarios" class="active" style="font-weight:400;">Pesquisar</label>

                        </div>
                        @*<div class="col s1 no-padding relative">
                                <button class="btn ir">ir</button>
                            </div>*@
                        <div class="col s12 filtros no-padding">
                            <span class="element-block" style="font-size:.9rem;">FILTROS:(CRÍTICAS) </span>
                            <div class="filtros--buttons">
                                <button data-tipo="sem_email" class="btn waves-effect waves-light" data-filtro="sem-email">SEM E-MAILS</button>
                                <button data-tipo="emails_duplicados" class="btn waves-effect waves-light" data-filtro="email-duplicado">E-MAILS DUPLICADOS</button>
                                <button data-tipo="email_invalidos" class="btn waves-effect waves-light" data-filtro="email-nao-validado">E-MAILS INVÁLIDOS</button>
                                <button data-tipo="sem_login_id" class="btn waves-effect waves-light" data-filtro="sem-login_id">SEM LOGIN_ID</button>
                                <button data-tipo="sem_senha" class="btn waves-effect waves-light" data-filtro="sem-senha">SEM SENHA</button>
                                <button data-tipo="env_canvas" class="btn waves-effect waves-light" data-filtro="env-canvas">ENVIADO P/ CANVAS</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 right legenda no-padding">
                            @*<span class="cor atencao"></span>*@
                            <span style="color:#ffce73;font-weight: 600;font-size: 0.8rem;margin-right:15px;">CRÍTICA DE MÉDIO IMPACTO</span>
                            @*<span class="cor erro"></span>*@
                            <span style="color:#ff1744;font-weight: 600;font-size: 0.8rem;" class="error">CRÍTICA SEVERA</span>
                        </div>
                    </div>
                </header>

                <div class="conteudo" id="divGridUsuario"></div>

                @*@Html.Partial("~/Views/Shared/Partial/RodapeGrid.cshtml")*@

                @*@Html.Partial("~/Views/Shared/Partial/CarregandoPartial.cshtml")*@
            </div>

            <div id="listaDisciplinas" class="col s12 no-padding padding-lateral white" data-url="@Url.Action("ListaDisciplinas", "IntegracaoDados")">
                <header>
                    <div class="row equal">
                        <div class="input-field col l12 no-padding">
                            <input id="pesquisarUsuarios" type="text" class="input-pesquisa validate" placeholder="Digite algo">
                            <label for="pesquisarUsuarios" class="active" style="font-weight:400;">Pesquisar</label>

                        </div>
                        <div class="col s12 filtros no-padding">
                            <span class="element-block" style="font-size:.9rem;">FILTROS:(CRÍTICAS) </span>
                            <div class="filtros--buttons">
                                <button class="btn waves-effect waves-light" data-filtro="graducao-ead">GRADUAÇÃO EAD</button>
                                <button class="btn waves-effect waves-light" data-filtro="graducao-presencial">GRADUAÇÃO PRESENCIAL</button>
                                <button class="btn waves-effect waves-light" data-filtro="outros">OUTROS</button>
                                <button class="btn waves-effect waves-light disabled" data-filtro="integra-canvas">INTEGRA CANVAS</button>
                                <button class="btn waves-effect waves-light" data-filtro="env-canvas">ENV. P/ CANVAS</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 right legenda">
                            @*<span class="cor atencao"></span>*@
                            <span style="color:#ffce73;font-weight: 600;font-size: 0.8rem;margin-right:15px;" class="warning">CRÍTICA DE MÉDIO IMPACTO</span>
                            @*<span class="cor erro"></span>*@
                            <span style="color:#ff1744;font-weight: 600;font-size: 0.8rem;" class="error">CRÍTICA SEVERA</span>
                        </div>
                    </div>
                </header>

                <div class="conteudo" id="divGridDisciplina"></div>

                @*@Html.Partial("~/Views/Shared/Partial/RodapeGrid.cshtml")*@

                @*@Html.Partial("~/Views/Shared/Partial/CarregandoPartial.cshtml")*@

            </div>

            <div id="listaMatriculas" class="col s12 no-padding padding-lateral white" data-url="@Url.Action("ListaMatriculas", "IntegracaoDados")">
                <header>
                    <div class="row equal">
                        <div class="input-field col l12 no-padding">
                            <input id="pesquisarMatriculas" class="input-pesquisa" type="text" placeholder="Digite algo">
                            <label for="pesquisarUsuarios" class="active" style="font-weight:400;">Pesquisar</label>

                        </div>
                        <div class="col l12 filtros">
                            <span class="element-block" style="font-size:.9rem;">FILTROS:(CRÍTICAS) </span>
                            <div class="filtros--buttons">
                                <button class="btn waves-effect waves-light" data-filtro="usuarios-nao-encontrados">USUÁRIOS NÃO ENCONTRADOS</button>
                                <button class="btn waves-effect waves-light" data-filtro="disciplinas-nao-encontradas">DISCIPLINAS NÃO ENCONTRADAS</button>
                                <button class="btn waves-effect waves-light" data-filtro="env-canvas">ENVIADO P/ CANVAS</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 right legenda">
                            @*<span class="cor atencao"></span>*@
                            <span style="color:#ffce73;font-weight: 600;font-size: 0.8rem;margin-right:15px;" class="warning">CRÍTICA DE MÉDIO IMPACTO</span>
                            @*<span class="cor erro"></span>*@
                            <span style="color:#ff1744;font-weight: 600;font-size: 0.8rem;" class="error">CRÍTICA SEVERA</span>
                        </div>
                    </div>
                </header>

                <div class="conteudo" id="divGridMatricula"></div>

                @*@Html.Partial("~/Views/Shared/Partial/RodapeGrid.cshtml")*@

                @*@Html.Partial("~/Views/Shared/Partial/CarregandoPartial.cshtml")*@

            </div>

            <div id="listaAlunosFael" class="col s12 no-padding padding-lateral white" data-url="@Url.Action("ListaAlunosFael", "IntegracaoDados")">
                <header>
                    <div style="text-align:center;margin-top: 3em;margin-bottom: 1em;">
                        <a class="waves-effect waves-light btn" id="exec-integ-fael">Executar Integração Fael</a>
                    </div>
                    <div class="row equal">
                        <div class="input-field col l12 no-padding">
                            <input id="pesquisarAlunosFael" class="input-pesquisa" type="text" placeholder="Digite algo">
                            <label for="pesquisarAlunosFael" class="active" style="font-weight:400;">Pesquisar</label>
                        </div>
                        <div class="col l12 filtros">
                            <span class="element-block" style="font-size:.9rem;">FILTROS:(CRÍTICAS) </span>
                            <div class="filtros--buttons">
                                <button class="btn waves-effect waves-light" data-filtro="exportado">Exportado</button>
                                <button class="btn waves-effect waves-light" data-filtro="nota-maior-100">Nota Maior que 100</button>
                                <button class="btn waves-effect waves-light" data-filtro="ano-conclusao-1899">Conclusão menor ou igual 1899</button>
                                <button class="btn waves-effect waves-light" data-filtro="campo-nulo">Campo nulo</button>
                                <button class="btn waves-effect waves-light" data-filtro="campo-invalido">Campo inválido</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 right legenda">
                            <span style="color:#ffce73;font-weight: 600;font-size: 0.8rem;margin-right:15px;" class="warning">CRÍTICA DE MÉDIO IMPACTO</span>
                            <span style="color:#ff1744;font-weight: 600;font-size: 0.8rem;" class="error">CRÍTICA SEVERA</span>
                        </div>
                    </div>
                </header>

                <div class="conteudo" id="divGridAlunosFael"></div>


            </div>

            @*@if (Model.visualizaExecucoes)
                {*@
            <div id="execucoes" class="col s12 no-padding" data-url="@Url.Action("Execucoes", "IntegracaoDados")">
                <div class="conteudo white"></div>

                @*@Html.Partial("~/Views/Shared/Partial/CarregandoPartial.cshtml")*@
            </div>
            @*}*@
        </div>


    </div>
</div>
