<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="~/Content/img/favicon.ico" />
    <link href="~/Content/css/FontAwesome5.5.0/css/all.min.css" rel="stylesheet" />
    @*<link href="~/Content/css/FontAwesome4.7.0/css/font-awesome.min.css" rel="stylesheet" />*@
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">*@
    <title>SL Construct</title>

    @Styles.Render("~/bundles/css")

    @RenderSection("Styles", false)

    <script src="~/Content/ckeditor/ckeditor.js"></script>
</head>
<body>
    @Html.Partial("Partial/CarregandoPartial")
    @Html.Partial("_Header")
    <div class="row no-margin">
        <aside id="asidebar">
            @Html.Partial("_SideBar")
        </aside>

        <div class="main">
            @if (System.Configuration.ConfigurationManager.ConnectionStrings["SLConstruct"].ConnectionString.ToString().Contains("homologacao"))
            {
                <div style="height: 40px; width: 100%; background: #ff751a; text-align: center; padding: 5px; font-weight: bold; font-size: 20px; color: #fff;"><<<<<< AMBIENTE DE HOMOLOGAÇÃO >>>>>></div>
            }
            @RenderBody()
        </div>
    </div>

    @Html.Partial("~/Views/Shared/Partial/MensagemPartial.cshtml")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bundle")
    @RenderSection("Scripts", false)

</body>
</html>
