@*@using Identity;*@

@*<div id="coluna" class="col m2">
        <ul>
            <li><a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i> Acompanhar Inscrição</a></li>
            <li><a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Nova Inscrição</a></li>
            <li><a href="#"><i class="fa fa-table" aria-hidden="true"></i> Acompanhar Inscrição</a></li>
        </ul>
    </div>*@

<ul id="slide-out" class="side-nav fixed collapsible">

   
    <li class="menu-pai">
        <div class="collapsible-header navegacao"><i class="fa fa-angle-right" aria-hidden="true"></i><h6>Base de Itens</h6></div>
        <div class="collapsible-body" >
            <ul>
                <li><a class="truncate" href="@Url.Action("Index","UA")"><i class="fa fa-table" aria-hidden="true"></i> Listagem</a></li>
                <li><a class="truncate" href="@Url.Action("UnidadeAprendizagem","UA")"><i class="fa fa-plus" aria-hidden="true"></i> Novo Cadastro</a></li>
            </ul>
        </div>
    </li>
    


    @*<li class="menu-pai">
            <div class="collapsible-header navegacao"><i class="fa fa-angle-right" aria-hidden="true"></i><h6>Provas</h6></div>
            <div class="collapsible-body">
                <ul>
                    <li><a href="@Url.Action("Cadastro", "Tema")"><i class="fa fa-plus-circle" aria-hidden="true"></i> Cadastrar Proposta</a></li>
                    <li><a href="@Url.Action("Index", "Tema")" class="truncate "><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Propostas de Redação</a></li>
                </ul>
            </div>
        </li>

        <li class="menu-pai">
            <div class="collapsible-header navegacao"><i class="fa fa-angle-right" aria-hidden="true"></i><h6>Usuários</h6></div>
            <div class="collapsible-body">
                <ul>
                    <li><a href="@Url.Action("DadosPessoa","CadastroUsuario", new { id = ""})"><i class="fa fa-user-plus" aria-hidden="true"></i> Novo Usuário</a></li>
                    <li><a href="@Url.Action("Index", "CadastroUsuario")"><i class="fa fa-users" aria-hidden="true"></i> Usuários</a></li>
                    <li><a href="@Url.Action("MeuPerfil", "CadastroUsuario")"><i class="fa fa-user-circle" aria-hidden="true"></i> Meu Perfil</a></li>
                </ul>
            </div>
        </li>

        <li class="menu-pai">
            <div class="collapsible-header navegacao"><i class="fa fa-angle-right" aria-hidden="true"></i><h6>Perfis de Acesso</h6></div>
            <div class="collapsible-body">
                <ul>
                    <li><a href="@Url.Action("Criar", "Perfil")"><i class="fa fa-pencil-square" aria-hidden="true"></i> Novo Perfil</a></li>
                    <li><a href="@Url.Action("Index", "Perfil")"><i class="fa fa-sitemap" aria-hidden="true"></i> Perfis de Acesso</a></li>
                </ul>
            </div>
        </li>

        <li class="menu-pai">
            <div class="collapsible-header navegacao"><i class="fa fa-angle-right" aria-hidden="true"></i><h6>Cursos</h6></div>
            <div class="collapsible-body">
                <ul>
                    <li><a href="@Url.Action("NovoCurso", "Cursos")"><i class="fa fa-plus-circle" aria-hidden="true"></i> Novo Curso</a></li>
                    <li><a href="@Url.Action("Index", "Cursos")"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Cursos</a></li>
                </ul>
            </div>
        </li>

        <li class="menu-pai">
            <div class="collapsible-header navegacao"><i class="fa fa-angle-right" aria-hidden="true"></i><h6>Sprint Captação</h6></div>
            <div class="collapsible-body">
                <ul>
                    <li><a href="@Url.Action("Index", "SprintCaptacao")"><i class="fa fa-pencil-square" aria-hidden="true"></i> Sprints</a></li>
                </ul>
            </div>
        </li>

        <li class="menu-pai">
            <div class="collapsible-header navegacao"><i class="fa fa-angle-right" aria-hidden="true"></i><h6>Relatório</h6></div>
            <div class="collapsible-body">
                <ul>
                    <li><a href="@Url.Action("Index", "Relatorio")"><i class="fa fa-file-text-o" aria-hidden="true"></i> Relatorio</a></li>
                    <li><a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-bar-chart" aria-hidden="true"></i> Dashboard</a></li>
                    <li><a href="@Url.Action("Index", "RelatorioSprintCaptacao")"><i class="fa fa-file-text-o" aria-hidden="true"></i> Cursos Sprint Captação</a></li>
                </ul>
            </div>
        </li>*@

</ul>

<!--SideBar direita-->
<ul id="sidenav-user-right" class="side-nav center">
    <li class="user"><i class="fa fa-user-circle-o" aria-hidden="true"></i><div class="status online posicionamentoBolinhaDoHeader"></div></li>
    <h4>Olá,&nbsp;<span id="name-user">@User.Identity.Name</span></h4>
    <li><span class="email-user">@*@Helper.Email(User.Identity)*@</span></li>
    <li><a id="btnAlterarSenha" href="@Url.Action("MeuPerfil", "CadastroUsuario")#DadosDeLoginPartial" class="bg-p btn waves-effect waves-light">Alterar senha</a></li>
    <div class="divider"></div>
    <h4 class="user-polo">centro universitário são lucas</h4>
    @*<h4 class="user-location">porto velho - RO</h4>*@
    <li class="capta-versao">Versão @*@System.Configuration.ConfigurationManager.AppSettings["versao"].ToString()*@</li>
    <li><a class="sair" href="@Url.Action("Logoff","Conta")"><i class="fa fa-power-off" aria-hidden="true"></i> Sair</a></li>
</ul>




























<!--<aside id="sidebar" class="sidebar c-overflow">
    <ul class="main-menu">
        <li class="active">
            <a href="@Url.Action("Index","Home")"><i class="zmdi zmdi-home"></i> Home</a>
        </li>
        <li class="sub-menu">
            <a href="#" data-ma-action="submenu-toggle"><i class="zmdi zmdi-view-compact"></i> Tabelas Auxiliares</a>

        <ul>
            <li><a href="@Url.Action("Index","Usuario")">Usuários</a></li>
            <li><a href="@Url.Action("Index","DadosCurso")">Informações dos Cursos</a></li>
            <li><a href="@Url.Action("Index", "CargoCurso")">Cargos dos Cursos</a></li>
            <li><a href="@Url.Action("Index","DiferencialCurso")">Diferenciais dos Cursos</a></li>
            <li><a href="@Url.Action("Index","LocalProva")">Locais de Provas</a></li>
            <li><a href="@Url.Action("Index","TabelaPrecoCurso")">Tabela de Preços dos Cursos</a></li>
            <li><a href="@Url.Action("Index", "SituacaoCandidatos")">Situação Candidatos</a></li>
            <li><a href="@Url.Action("Index", "OrigemLead")">Origem LEAD´S</a></li>
        </ul>
    </li>
        <li><a href="@Url.Action("Index", "VW_AcompanhamentoInscricao")"><i class="zmdi zmdi-view-compact"></i>Acompanhamento Inscrições</a></li>
        <li class="sub-menu">
            <a href="#" data-ma-action="submenu-toggle"><i class="zmdi zmdi-view-compact"></i> Admin Graduação</a>

            <ul>
                <li><a href="@Url.Action("Index","Usuario")">Usuários</a></li>
                <li><a href="@Url.Action("Index","DadosCurso")">Informações dos Cursos</a></li>
                <li><a href="@Url.Action("Index", "CargoCurso")">Cargos dos Cursos</a></li>
                <li><a href="@Url.Action("Index","DiferencialCurso")">Diferenciais dos Cursos</a></li>
                <li><a href="@Url.Action("Index","LocalProva")">Locais de Provas</a></li>
                <li><a href="@Url.Action("Index","TabelaPrecoCurso")">Tabela de Preços dos Cursos</a></li>
                <li><a href="@Url.Action("Index", "VW_AcompanhamentoInscricao")">Acompanhamento Inscrições</a></li>
                <li><a href="@Url.Action("Index", "SituacaoCandidatos")">Situação Candidatos</a></li>
            </ul>
        </li>
        <li><a href="@Url.Action("Index","GeoMarketing")"><i class="zmdi zmdi-image"></i> Geo-Processamento</a></li>
    </ul>
</aside>-->
