@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ops! Ocorreu um erro</title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/ops")
</head>
<body>
    <main class="row">
        <section class="col s12 m6">
            <div class="logo"><img src="~/Content/img/gif-unisl-circuito.gif" alt=" Gif de erro Faculdade São Lucas" /></div>
        </section>
        <section class="col s12 m6">
            <span class="modal-close-default-sl modal-close">fechar <i class="fas fa-window-close" aria-hidden="true"></i></span>
            <div class="informacoes">
                <div>
                    <h1>@(string.IsNullOrEmpty(ViewBag.TitleMessage) ? "Ops!" : ViewBag.TitleMessage)</h1>
                    @{
                        if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
                        {
                            <p>A página que está procurando não foi encontrada.</p>
                        }
                        else
                        {
                            <p>@ViewBag.ErrorMessage</p>
                        }
                    }
                    <p>Entre em contato conosco ou volte para <a href="javascript:history.back()">página anterior.</a></p>
                    <h4>Central de informações Acadêmicas - CIA</h4>
                    <ul>
                        <li><i class="fa fa-phone-square" aria-hidden="true"></i>0800 123 4567</li>
                        <li><i class="fa fa-envelope-square" aria-hidden="true"></i>cia@saolucas.edu.br</li>
                    </ul>
                </div>
            </div>
            <input type="hidden" value="@ViewBag.ErrorMessageADM" />
        </section>
    </main>
</body>
</html>
