
@{
    ViewBag.Title = "Index_new";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {

    <script>
        var urlGetDisciplinas = "@Url.Action("GetDisciplinasMatriz", "UA")";
        var urlApagarItemAprendizado = "@Url.Action("ApagarItemAprendizado", "UA")";
    </script>
    <script src="~/Scripts/Helper.js"></script>
    <script src="~/Scripts/FormValidations.js"></script>
    <script src="~/Scripts/BancoDeUa/BancoDeUa.js"></script>

}

<div id="bancoUas" class="principal">
    <div class="row">
        <div class="col l12 no-padding">
            <div>
                <i class="fas fa-home icon-padrao botao-home" aria-hidden="true"></i><h2 class="sl-titulo sl-navy-blue">Base de Itens</h2>
                <i class="fas fa-angle-right" aria-hidden="true"></i><h2 class="sl-subtitulo sl-navy-blue">Pacotes</h2>
                <a href="@Url.Action("UnidadeAprendizagem", "UA")" class="btn verde-aqua right">criar pacote</a>
            </div>
        </div>
        <div class="col s12 no-padding">
            @Html.Partial("~/Views/BaseItens/Partial/FiltroPartial.cshtml")
            <!--Ver a necessidade deste input abaixo -->
            <input type="hidden" id="hfTexto" value="" />
        </div>
        <div class="col s12 no-padding tblbasesitens">
            @Html.Partial("~/Views/BaseItens/Partial/GridnewPartial.cshtml")
        </div>
    </div>
</div>

