@model SLCONSTRUCT.UI.WEB.ViewModels.UnidadeAvaliativaVModel

@{
    ViewBag.Title = "Unidades Avaliativas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script>
        var urlExcluiHabilidade = "@Url.Action("excluiHabilidade", "UA")";
        var urlExcluiItemDescritor = "@Url.Action("ExcluiItemDescritor", "UA")";

        //MACRO
        var urlGetListaHabilidadeMacro = "@Url.Action("GetListaHabilidade", "MacroDesafio")";
        var urlGetListaDescritorMacro = "@Url.Action("GetListaDescritor", "MacroDesafio")";
        var urlCadastroMacro = "@Url.Action("Cadastro", "MacroDesafio")";
        var urlGetHabilidadeMacroChange = "@Url.Action("GetHabilidade", "MacroDesafio")";
        var urlGetDescritorMacroChange = "@Url.Action("GetDescritor", "MacroDesafio")";
        var urlGetDescritor_ITENS_Macro = "@Url.Action("GetListaItem", "MacroDesafio")";
        var urlEditar_ITENS_Macro = "@Url.Action("Editar", "MacroDesafio")";
        var urlDeletar_ITENS_Macro = "@Url.Action("Deletar", "MacroDesafio")";

        //MICRO
        var urlCadastroMicro = "@Url.Action("Cadastro", "MicroDesafio")";
        var urlGetListaHabilidadeMicro = "@Url.Action("GetListaHabilidade", "MicroDesafio")";
        var urlGetListaDescritorMicro = "@Url.Action("GetListaDescritor", "MicroDesafio")";
        var urlGetDescritor_ITENS_Micro = "@Url.Action("GetListaItem", "MicroDesafio")";
        var urlEditar_ITENS_Micro = "@Url.Action("Editar", "MicroDesafio")";
        var urlDeletar_ITENS_Micro = "@Url.Action("Deletar", "MicroDesafio")";

        //VIDEO
        var urlExcluiVideo = "@Url.Action("excluiVideo", "UA")";
        var urlGetListaVideo = "@Url.Action("GetListaVideo", "Video")";

        //GUIA DE ESTUDO ONLINE
        var urlGetGuiaEstudoOnline = "@Url.Action("Index", "GuiaEstudoOnline")";
        var urlSalvaGuiaEstudoOnline = "@Url.Action("Salvar", "GuiaEstudoOnline")";

        //GUIA DE ESTUDO HIBRIDO
        var urlGetGuiaEstudoHibrido = "@Url.Action("Index", "GuiaEstudoHibrido")";
        var urlSalvarGuiaEstudoHibrido = "@Url.Action("Salvar", "GuiaEstudoHibrido")";
        var urlEditarUnidadeGuiaEstudoHibrido = "@Url.Action("Editar", "GuiaEstudoHibrido")";
        var urlDeletarUnidadeGuiaEstudoHibrido = "@Url.Action("Deletar", "GuiaEstudoHibrido")";


        (function () {
            $.validator.unobtrusive.parseDynamicContent = function (selector) {
                //use the normal unobstrusive.parse method
                $.validator.unobtrusive.parse(selector);

                //get the relevant form
                var form = $(selector).first().closest('form');

                //get the collections of unobstrusive validators, and jquery validators
                //and compare the two
                var unobtrusiveValidation = form.data('unobtrusiveValidation');
                var validator = form.validate();

                $.each(unobtrusiveValidation.options.rules, function (elname, elrules) {
                    if (validator.settings.rules[elname] == undefined) {
                        var args = {};
                        $.extend(args, elrules);
                        args.messages = unobtrusiveValidation.options.messages[elname];
                        //edit:use quoted strings for the name selector
                        $("[name='" + elname + "']").rules("add", args);
                    } else {
                        $.each(elrules, function (rulename, data) {
                            if (validator.settings.rules[elname][rulename] == undefined) {
                                var args = {};
                                args[rulename] = data;
                                args.messages = unobtrusiveValidation.options.messages[elname][rulename];
                                //edit:use quoted strings for the name selector
                                $("[name='" + elname + "']").rules("add", args);
                            }
                        });
                    }
                });
            }

        })();

    </script>
    <script src="~/Scripts/BancoDeUa/informacoesSistemas.js"></script>
    <script src="~/Scripts/BancoDeUa/unidadesAvaliativas.js"></script>
    <script src="~/Scripts/BancoDeUa/wizard.js"></script>
}

@section Styles {

    <link href="~/Content/wizard.min.css" rel="stylesheet" />
    <link href="~/Content/unidadesAvaliativas/cadastrarUnidades.min.css" rel="stylesheet" />
}

    <div id="bancoUasCadastroUnidade">
       
        <input type="hidden" id="guia-valid" value="1" />
        <input type="hidden" id="guiascorm-valid" value="1" />
      
        <header class="col s12 no-padding">
            <div class="cabecalho">
                <h1 class="titulo">Base de Itens <i class="fas fa-angle-right" aria-hidden="true"></i> <span class="subtitulo">Cadastrar Unidades</span></h1>
            </div>
        </header>

        @Html.Partial("Partial/_Wizard")

        <div id="divPartial">

            @Html.Partial("~/Views/BaseItens/Partial/informacoesPartial.cshtml", Model)
            @*@Html.Partial("~/Views/UA/Partial/cadastroItensPartial.cshtml", new SLCONSTRUCT.UI.WEB.ViewModels.UnidadeAprendizagemTrilhaVModel());*@

        </div>
    </div>




