
@{
    ViewBag.Title = "UnidadeAprendizagemnew";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ordemProcessoCadastro = ViewBag.ordemProcessoCadastro ?? 1;
}

@section Styles {

    @*<link href="~/Content/wizardnew.css" rel="stylesheet" />*@
    <link href="~/Content/wizardnew.min.css" rel="stylesheet" />
    <link href="~/Content/unidadesAvaliativas/cadastrarUnidades.min.css" rel="stylesheet" />
    <link href="~/Content/bancoQuestoes/bancoquestao.min.css" rel="stylesheet" />
}

@section Scripts{
    <script>
        //Banco de Questao
        var urlAtualizaStatusQuestao = "@Url.Action("AtualizaStatusQuestao", "BancoQuestao")";

        //Habilidades Unidade
        var urlExcluiHabilidade = "@Url.Action("excluiHabilidade", "UA")";
        var urlExcluiHabilidadeMulti = "@Url.Action("excluiHabilidadeMulti", "UA")";
        var urlExcluiHabilidadeLista = "@Url.Action("excluiHabilidade", "UA")";

        //MICRO
        var urlCriaMicro = "@Url.Action("Cadastro", "MicroDesafio")";
        var urlGetListaHabilidadeMicro = "@Url.Action("GetListaHabilidade", "MicroDesafio")";
        var urlGetHabilidadeMicro = "@Url.Action("GetHabilidadeMicro", "MicroDesafio")";
        var urlGetItemMicro = "@Url.Action("GetItemMicro", "MicroDesafio")";
        var urlEditarMicro = "@Url.Action("EditarItem", "MicroDesafio")";
         var urlGetMatrizesMicro = "@Url.Action("GetMatrizes", "MicroDesafio")";


        //MACRO
        var urlGetListaHabilidadeMacro = "@Url.Action("GetListaHabilidade", "MacroDesafio")";
        var urlGetHabilidadeMacro = "@Url.Action("GetHabilidadeMacro", "MacroDesafio")";
        var urlGetItemMacro = "@Url.Action("GetItemMacro", "MacroDesafio")";
        var urlCadastroMacro = "@Url.Action("Cadastro", "MacroDesafio")";
        var urlCriaMacro = "@Url.Action("Cadastro", "MacroDesafio")";
        var urlEditarMacro = "@Url.Action("EditarItem", "MacroDesafio")";
        var urlGetMatrizes = "@Url.Action("GetMatrizes", "MacroDesafio")";
        var urlExcluirDesafioMatriz = "@Url.Action("ExcluirDesafioMatriz", "MacroDesafio")";
                   


        //VIDEO
        var urlExcluiVideo = "@Url.Action("excluiVideo", "UA")";
        var urlGetListaVideo = "@Url.Action("GetListaVideo", "Video")";
        var urlSalvaVideo = "@Url.Action("SalvarVideo", "Video")";

        //Tabelas iniciais do cadastro de ItensGetListInfografico
        var urlGetListaTabelaInicialGuiaHibrido = "@Url.Action("TabelaGet", "GuiaEstudoHibrido")";
        var urlGetListaTabelaInfografico = "@Url.Action("GetListInfografico", "Infografico")";
         var urlGetListaTabelaGuiaEstudoOnline = "@Url.Action("GetListGuiaEstudoOnline_pdf", "GuiaEstudoOnline")";
        var urlGetListaTabelaGuiaEstudoScorm = "@Url.Action("GetListGuiaEstudoOnline_scorm", "GuiaEstudoOnline")";

        //Guia estudo Online
        var urlGetGuiaEstudoOnline = "@Url.Action("Index", "GuiaEstudoOnline")";
        var urlSalvaGuiaEstudoOnline = "@Url.Action("Salvar", "GuiaEstudoOnline")";
        var urlDeletarUnidadeGuiaEstudoOnline = "@Url.Action("Deletar", "GuiaEstudoOnline")";

        //Guia estudo Hibrido
        var urlGetGuiaEstudoHibrido = "@Url.Action("Index", "GuiaEstudoHibrido")";
        var urlSalvarGuiaEstudoHibrido = "@Url.Action("Salvar", "GuiaEstudoHibrido")";
        var urlDeletarUnidadeGuiaEstudoHibrido = "@Url.Action("Deletar", "GuiaEstudoHibrido")";
        var urlMinhaBibliotecaVirtual = "@Url.Action("IntegracaoMinhaBibliotecaVirtual", "GuiaEstudoHibrido")";
        var urlBibliotecaPerson = "@Url.Action("IntegraçãoBibliotecaPearson", "GuiaEstudoHibrido")";

        //destaques
        var urlGetDestaques = "@Url.Action("ObterDestaques", "Destaque")";
        var urlGetDestaquesModal = "@Url.Action("Index", "Destaque")";
        var urlSalvarDestaques = "@Url.Action("Salvar", "Destaque")";
        var urldeletarDestaques = "@Url.Action("Deletar", "Destaque")";


        //Infografico
        var urlDeletarInfografico = "@Url.Action("Deletar", "Infografico")";
        var urlSalvarInfografico = "@Url.Action("Salvar", "Infografico")";
        var urlGetInfografico = "@Url.Action("Index", "Infografico")";

        var ordemProcessoCadastro = '@ViewBag.ordemProcessoCadastro';

        var urlObterQuantidadeQuestoes = "@Url.Action("ObterQuantidadeQuestoes", "UA")";


    </script>

    <script src="~/Scripts/BancoDeUa/informacoesSistemas.js"></script>
    <script src="~/Scripts/BancoDeUa/unidadesAvaliativas.js"></script>

    <script>
        (function () {
            $.validator.unobtrusive.parseDynamicContent = function (selector) {
                //use the normal unobstrusive.parse method
                $.validator.unobtrusive.parse(selector);

                //get the relevant form
                var form = $(selector).first().closest('form');

                //get the collections of unobstrusive validators, and jquery validators
                //and compare the two
                var unobtrusiveValidation = form.data('unobtrusiveValidation');
                var validator = form.validate();

                $.each(unobtrusiveValidation.options.rules, function (elname, elrules) {
                    if (validator.settings.rules[elname] == undefined) {
                        var args = {};
                        $.extend(args, elrules);
                        args.messages = unobtrusiveValidation.options.messages[elname];
                        //edit:use quoted strings for the name selector
                        $("[name='" + elname + "']").rules("add", args);
                    } else {
                        $.each(elrules, function (rulename, data) {
                            if (validator.settings.rules[elname][rulename] == undefined) {
                                var args = {};
                                args[rulename] = data;
                                args.messages = unobtrusiveValidation.options.messages[elname][rulename];
                                //edit:use quoted strings for the name selector
                                $("[name='" + elname + "']").rules("add", args);
                            }
                        });
                    }
                });
            }

        })();
    </script>
}

<div id="unidadeAprendizagem" class="principal">
    <div class="row">
        <div class="col l12 no-padding">
            <div>
                <i class="fas fa-home icon-padrao botao-home" aria-hidden="true"></i><h2 class="sl-titulo sl-navy-blue">Base de Itens</h2>
                <i class="fas fa-angle-right" aria-hidden="true"></i><h2 class="sl-subtitulo sl-navy-blue idpacote"></h2>
                <i class="fas fa-angle-right" aria-hidden="true"></i><h2 class="sl-subtitulo sl-navy-blue">Cadastro de itens</h2>
                <a href="/UA/UnidadeAprendizagem" class="btn verde-aqua right criando-item">criar pacote</a>
            </div>
        </div>
        @Html.Partial("~/Views/BaseItens/Partial/_Wizard.cshtml")
        <div class="col l12 no-padding">
            <div class="divPartial" id="divPartialUA">
                @*@Html.Partial("~/Views/UA/Partial/cadastroItensnewpartial.cshtml")*@

                @* FOI SOLICITADO PARA SEMPRE QUE EDITAR VOLTAR PARA A TELA DE INFORMAÇÕES GERAIS *@
                @*@if (ViewBag.ordemProcessoCadastro != null || ViewBag.ordemProcessoCadastro == 1)
                {*@
                    @Html.Partial("~/Views/BaseItens/Partial/informacoesnewPartial.cshtml")
                @*}*@
            </div>
        </div>
    </div>
</div>


