@model SLCONSTRUCT.UI.WEB.ViewModels.UnidadeAvaliativaVModel

@using (Html.BeginForm("SalvarUnidade", "UA", FormMethod.Post, new { data_js = "form-validate", id = "frmCadastroItens", data_url = Url.Action("SalvarUnidade", "UA") }))
{
    @Html.HiddenFor(x => x.base64capaunidade)
    @Html.HiddenFor(x => x.base64guiaestudopdf)
    @Html.HiddenFor(x => x.base64guiaestudoscorm)
   
    @Html.HiddenFor(x => x.codmodalidade)

    @*@Html.HiddenFor(x => x.codbaseunidadeaprendizagem)*@
    <input type="hidden" id="codbaseunidadeaprendizagem" name="codbaseunidadeaprendizagem" value="@Model.codbaseunidadeaprendizagem" />
    <input type="hidden" id="hfnumpage" name="hfnumpage" value="2" />

    <section>

        <div class="col s6 input-title">
            <span class="input-title-div">Título da unidade</span>
            <div class="input-field">

                @Html.TextBoxFor(x => x.titulo, new { @maxLength = "150", @required="required" })
                @*@Html.LabelFor(x => x.titulo)*@
            </div>
        </div>


        @*<div class="col s6 input-title">
                <span class="input-title-div">Capa da unidade (.jpg)</span>
                <div class="file-field input-field">
                    <div class="btn">
                        <span><i class="fa fa-file-text-o" aria-hidden="true"></i> Upload</span>
                        @Html.TextBoxFor(x => x.caminhocapa, new { @accept = "image/jpeg", @type = "file", placeholder = "Anexar arquivo", @class = "capaunidade" })
                    </div>
                    <div class="file-path-wrapper">

                        @Html.TextBoxFor(x => x.caminhocapa, new { @placeholder = "Anexar arquivo", @class = "file-path validate", @required = "required" })
                    </div>
                </div>
            </div>*@

        <div class="col s6 input-title">
            <span class="input-title-div">Infográfico (.jpg , .pdf)</span>
            <div class="file-field input-field">
                <div class="btn">
                    <span><i class="fas fa-file-alt" aria-hidden="true"></i> Upload</span>
                    @Html.TextBoxFor(x => x.caminhoinfo, new { @placeholder = "Anexar arquivo", @class = "infografico", @accept = "image/jpeg,application/pdf", @type = "file" })

                </div>
                <div class="file-path-wrapper">
                    @*<input class="file-path validate" type="text" placeholder="Anexar arquivo">*@
                    @Html.TextBoxFor(x => x.caminhoinfo, new { @placeholder = "Anexar arquivo", @class = "file-path validate", @required = "required" })
                </div>
            </div>
        </div>


        <div class="modalidade-online hide">
            <div class="col s6 input-title">
                <div class="guia guia-online">
                    <span class="input-title-div">Guia de estudos (.pdf) <i class="fas fa-pen-square right guia-estudos" aria-hidden="true"></i></span>
                </div>
            </div>

            <div class="col s6 input-title">
                <div class="guia guia-scorm">
                    <span class="input-title-div">Guia de estudos (scorm .zip) <i class="fas fa-pen-square right guia-estudos-scorm" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>

        <div class="modalidade-hibrido col s12 no-padding hide">
            <div class="col s6 input-title">
                <div class="guia guia-hibrido">
                    <span class="input-title-div">Guia de estudos (.pdf) <i class="fas fa-pen-square right guia-estudos-hibrido" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>


        <div class="col s6 input-title micro">
            @*TABELA MICRO*@
            @*@Html.Partial("~/Views/BaseItens/Partial/TabelaAgrupamentoMicroPartial.cshtml")*@
        </div>
        <div id="macro" class="col s6 input-title macro">
            @*TABELA MACRO*@
            @*@Html.Partial("~/Views/BaseItens/Partial/TabelaAgrupamentoMacroPartial.cshtml")*@
        </div>

        <div class="col s12 input-title videos">
            @*@Html.Partial("~/Views/BaseItens/Partial/TabelaDeVideosPartial.cshtml")*@
        </div>

        <div id="" class="col s12 footer-avancar center">
            <button type="button" class="waves-effect waves-light btn" id="btnAvancar">Avançar <i class="fas fa-arrow-right" aria-hidden="true"></i></button>
        </div>
    </section>
}

@* MODAL DE ADICIONAR VIDEOS *@
<div id="add-video" class="modal modal-fixed-footer">
    @Html.Partial("~/Views/BaseItens/Partial/ModalAdicionaVideosPartial.cshtml")
</div>

@* MODAL DE MOSTRAR OS MACROS DEAFIOS CADASTRADOS *@
<div id="mostra-macro" class="macro modal modal-fixed-footer">
    @*@Html.Partial("~/Views/UA/Partial/ModalMostraHabilidadesMacroPartial.cshtml")*@
</div>

@* MODAL DE MOSTRAR OS MICROS DEAFIOS CADASTRADOS *@
<div id="mostra-micro" class="macro modal modal-fixed-footer">
    @*@Html.Partial("~/Views/UA/Partial/ModalMostraHabilidadeMicroPartial.cshtml")*@
</div>

@* MODAL DE CADASTRO MACRO DESAFIO *@
<div id="cria-macro" class="macro modal modal-fixed-footer">
    @*@Html.Partial("~/Views/UA/Partial/CriaMacroDesafioPartial.cshtml", new SLCONSTRUCT.UI.WEB.ViewModels.MacroDesafioVModel())*@
</div>

@* MODAL DE CADASTRO MICRO DESAFIO *@
<div id="cria-micro" class="macro modal modal-fixed-footer">
    @*@Html.Partial("~/Views/UA/Partial/CriaMicroDesafioPartial.cshtml")*@
</div>

@* MODAL GUIA DE ESTUDANTE ONLINE *@
<div id="cria-guia-estudo" class="guia-estudante modal modal-fixed-footer">
    @*@Html.Partial("~/Views/UA/Partial/GuiaDeEstudoPartial.cshtml")*@
</div>

@* MODAL GUIA DE ESTUDANTE HIBRIDO *@
<div id="cria-guia-estudo-hibrido" class="guia-estudante modal modal-fixed-footer">
    @*@Html.Partial("~/Views/UA/Partial/GuiaDeEstudoHibridoPartial.cshtml")*@
</div>

