@model SLCONSTRUCT.UI.WEB.ViewModels.UnidadeAvaliativaVModel
@{
    var textoQtdQuestoesObjetivas = @Model.qtdeRegistrosObjetivo + (@Model.qtdeRegistrosObjetivo > 1 ? " questões vinculadas" : " questão vinculada");
    var textoQtdQuestoesSubjetivas = @Model.qtdeRegistrosSubjetivo + (@Model.qtdeRegistrosSubjetivo > 1 ? " questões vinculadas" : " questão vinculada");
}

<script>
    var permissaoGravacao = "@ViewBag.PossuiPermissaoGravacao";
</script>

@using (Html.BeginForm("SalvarUnidade", "UA", FormMethod.Post, new { data_js = "form-validate", id = "frmCadastroItens", data_url = Url.Action("SalvarUnidade", "UA") }))
{

    @Html.HiddenFor(x => x.codmodalidade)


    <input type="hidden" id="codbaseunidadeaprendizagem" name="codbaseunidadeaprendizagem" value="@Model.codbaseunidadeaprendizagem" />
    <input type="hidden" id="hfnumpage" name="hfnumpage" value="2" />

    <div class="bloco-conteudo-padrao">
        <div class="section">
            <h1 class="caption center-align titulo-cadastro-itens texto-quebra-linha">@Model.titulo</h1>
            <div class="divider"></div>
        </div>
        <div>
            <i class="fas fa-file icon-padrao circular items" aria-hidden="true"></i><h2 class="sl-titulo-default sl-navy-blue">Arquivos</h2>
        </div>

        <div class="row">
            <div class="div--guia-estudo-online hide">
                <div class="col l12 --guia-estudo">

                    <!--Renderiza a tabela de guia de estudos online-->

                </div>
                <div class="col l12 --guia-estudo-scorm hide">

                    <!--Renderiza a tabela de guia de estudos scorm-->

                </div>
            </div>
            <div class="div--guia-estudo-hibrido hide">
                <div class="col l12 --guia-estudo-hibrido">

                    <!--Parcial da tabela de listagem de guia estudo hibrido-->

                </div>
            </div>
            <div class="col l12 --infografico">

                <!--Renderiza a tabela de infográfico-->

            </div>
            <div class="col l12 --destaques">

                <!--Renderiza a tabela de destaques-->

            </div>
            <div class="col l12 --videos">

                <!--Renderiza a tabela de videos-->

            </div>
            <div class="col l12 pontilhado"></div>
            <div class="col l12 acoes-micro-macro">
                <div class="col l4 padding-1rem">
                    <div>
                        <i class="fas fa-file-alt icon-padrao circular items" aria-hidden="true"></i><h2 class="sl-titulo-default sl-navy-blue">Questões</h2>
                    </div>
                </div>
                <div class="col l4 padding-1rem macrodesafio">
                    <div class="icones">
                        <i class="fas fa-eye" aria-hidden="true"></i>
                    </div>
                    <div class="-acoes">
                        <p>macrodesafios</p>
                        <p>Questões subjetivas</p>
                        @{
                            if (@ViewBag.MacroDesafioUAVinculado == 0 || Model.qtdeRegistrosSubjetivo == 0)
                            {
                                <p class="sem-questao" id="quantidadeQuestaoSubjetivo">Sem questão vinculada</p>
                            }
                            else
                            {
                                <p class="com-questao" id="quantidadeQuestaoSubjetivo">@textoQtdQuestoesSubjetivas</p>
                            }
                        }
                    </div>
                </div>
                <div class="col l4 padding-1rem microdesafio">
                    <div class="icones">
                        <i class="fas fa-eye" aria-hidden="true"></i>
                    </div>
                    <div>
                        <p>microdesafios</p>
                        <p>Questões objetivas</p>
                        @{
                            if (@ViewBag.MicroDesafioUAVinculado == 0 || Model.qtdeRegistrosObjetivo == 0)
                            {
                                <p class="sem-questao" id="quantidadeQuestaoObjetivo">Sem questão vinculada</p>
                            }
                            else
                            {
                                <p class="com-questao" id="quantidadeQuestaoObjetivo">@textoQtdQuestoesObjetivas</p>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="center">
                <button class="btn" type="button" id="btnAvancar">avançar</button>

            </div>
        </div>
    </div>
}
@* ************** MODAIS **************@

<!--Modal cadastro guia estudante hibrido-->
<div id="cria-guia-estudo-hibrido" class="guia-estudante modal modal-fixed-footer default-sl-blue">
    @*@Html.Partial("~/Views/BaseItens/Partial/GuiaDeEstudoHibridonewPartial.cshtml")*@
</div>

@* MODAL GUIA DE ESTUDANTE ONLINE *@
<div id="cria-guia-estudo" class="guia-estudante modal modal-fixed-footer default-sl-blue">
    @*@Html.Partial("~/Views/BaseItens/Partial/GuiaDeEstudoPartial.cshtml", new SLCONSTRUCT.UI.WEB.ViewModels.UnidadeOnlineVModel())*@
</div>

@* MODAL INFOGRÁFICO *@
<div id="cria-infográfico" class="modal modalinfo modal-fixed-footer default-sl-blue">
    @*@Html.Partial("~/Views/BaseItens/Partial/GuiaDeEstudoPartial.cshtml", new SLCONSTRUCT.UI.WEB.ViewModels.GuiaEstudoOnlineVModel())*@
</div>

@* MODAL DESTAQUES *@
<div id="cria-destaques" class="modal modaldestaques modal-fixed-footer default-sl-blue">
    @*@Html.Partial("~/Views/BaseItens/Partial/GuiaDeEstudoPartial.cshtml", new SLCONSTRUCT.UI.WEB.ViewModels.GuiaEstudoOnlineVModel())*@
</div>

@* MODAL VIDEO *@
<div id="add-video" class="modal default-sl-blue modal-fixed-footer">
    @Html.Partial("~/Views/BaseItens/Partial/ModalAdicionaVideosPartial.cshtml")
</div>

@* MODAL MACRO *@
<div id="cria-macro" class="modal default-sl-blue modal-fixed-footer">
    @*@Html.Partial("~/Views/BaseItens/Partial/CadastroMacroDesafioPartial.cshtml")*@
</div>

@* MODAL MICRO *@
<div id="cria-micro" class="modal default-sl-blue modal-fixed-footer">
    @*@Html.Partial("~/Views/BaseItens/Partial/CadastroMicroDesafioPartial.cshtml")*@
</div>










