@model IEnumerable<SLCONSTRUCT.UI.WEB.ViewModels.UnidadeAvaliativaVModel>

@{
    int qtdresgistros = ViewBag.qtdresgistros;
    int paginaatual = ViewBag.paginaatual;
    int qtdpaginas = ViewBag.qtdpaginas;
    bool seanterior = ViewBag.seanterior;
    bool seproximo = ViewBag.seproximo;
}

@Html.Hidden("qtdresgistros", qtdresgistros)
@Html.Hidden("paginaatual", paginaatual)
@Html.Hidden("qtdpaginas", qtdpaginas)
@Html.Hidden("seanterior", seanterior)
@Html.Hidden("seproximo", seproximo)

<p>RESULTADOS: <span class="resultados-qtd"><span class="qtdRegistros">@qtdresgistros</span> resultados encontrados</span></p>
@if (Model.Count() > 0)
{
    <div class="bloco-conteudo-padrao">
        <table class="bordered">
            <thead>
                <tr>
                    <th class="">Pacotes</th>
                    <th class="center">Status</th>
                    <th class="-acoes">Ações</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.titulo
                            <span class="criador">Criado por <span class="autor">@item.nomeusuariocadastro</span> em <span class="data-criacao">@item.datacadastro</span></span>

                            @if (!string.IsNullOrEmpty(@item.nomeusuarioatualizacao))
                            {
                                <span class="editado">Última edição feita por <span class="ultimaedicao">@item.nomeusuarioatualizacao @item.dataatualizacao</span></span>
                            }
                        </td>
                        <td class="center">@(item.finalizado ? "Concluído" : "Não concluído")</td>
                        <td class="-acoes">
                            <a href="@Url.Action("UnidadeAprendizagem", "UA", new { item.codbaseunidadeaprendizagem })" class="waves-effect editar" data-codunidade=@item.codbaseunidadeaprendizagem>
                                <i class="fas fa-pen-square" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="waves-effect deletar" data-codunidade=@item.codbaseunidadeaprendizagem>
                                <i class="fas fa-trash-alt" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="row cmp-filtro-avancado no-margin right filtro-avancado ">
            <div class="col s12 pagination botoes-paginacao ">
                @if (!seanterior)
                {
                    <button class="disabled btn inicio hide-on-small-only shadow"><i class="fas fa-angle-double-left black-text" aria-hidden="true"></i></button>
                    <button class="disabled btn anterior shadow"><i class="fas fa-angle-left black-text" aria-hidden="true"></i></button>
                }
                else
                {
                    <button class="btn waves-effect inicio hide-on-small-only paginacao shadow" data-pagina="1"><i class="fas fa-angle-double-left black-text" aria-hidden="true"></i></button>
                    <button class="btn waves-effect paginacao anterior shadow" data-pagina="@(paginaatual - 1)" ><i class="fas fa-angle-left black-text" aria-hidden="true"></i></button>
                }       
            
                <span>@(paginaatual)/@(qtdpaginas)</span>

                @if (!seproximo)
                {
                    <button class="disabled btn hide-on-small-only proximo shadow"><i class="fas fa-angle-right black-text" aria-hidden="true"></i></button>
                    <button class="disabled btn hide-on-small-only shadow "><i class="fas fa-angle-double-right black-text" aria-hidden="true"></i></button>
                }
                else
                {
                    <button class="btn hide-on-small-only waves-effect paginacao shadow" data-pagina="@(paginaatual + 1)"><i class="fas fa-angle-right black-text" aria-hidden="true"></i></button>
                    <button class="btn hide-on-small-only waves-effect paginacao proximo shadow" data-pagina="@(qtdpaginas)"><i class="fas fa-angle-double-right black-text" aria-hidden="true"></i></button>
                }
            </div>
        </div>
    </div>
}
