@*=====================UNIDADES POLO=================*@
@model IEnumerable<SLCONSTRUCT.UI.WEB.ViewModels.UnidadeAvaliativaVModel>
@{
    Layout = "";
    var updown = ViewBag.ascdesc == "desc" ? "fa-sort-up" : "fa-sort-down";

    int qtdresgistros = ViewBag.qtdresgistros;
    int paginaatual = ViewBag.paginaatual;
    int qtdpaginas = ViewBag.qtdpaginas;
    bool seanterior = ViewBag.seanterior;
    bool seproximo = ViewBag.seproximo;
}

@Html.Hidden("qtdresgistros", qtdresgistros)
@Html.Hidden("paginaatual", paginaatual)
@Html.Hidden("qtdpaginas", qtdpaginas)
@Html.Hidden("seanterior", seanterior)
@Html.Hidden("seproximo", seproximo)

<div class="cinzaClaro row">
    <div class="col s12 m12 l12 aux">
        <div class="z-depth-1 wrap-table">
            <table class="bordered striped">
                <thead>
                    <tr>
                        <th class="ordena" data-campo="titulo">
                            Titulo
                            @if (ViewBag.orderby == "titulo")
                            {
                                <i class="fas @updown " aria-hidden="true"></i>
                            }
                            else
                            {
                                <i class="fas fa-sort " aria-hidden="true"></i>
                            }
                        </th>

                        <th class="ordena" data-campo="modalidade">
                            modalidade
                            @if (ViewBag.orderby == "modalidade")
                            {
                                <i class="fas @updown " aria-hidden="true"></i>
                            }
                            else
                            {
                                <i class="fas fa-sort " aria-hidden="true"></i>
                            }
                        </th>
                        <th class="ordena center" data-campo="habilidade">
                            habilidade
                            @if (ViewBag.orderby == "habilidade")
                            {
                                <i class="fas @updown " aria-hidden="true"></i>
                            }
                            else
                            {
                                <i class="fas fa-sort " aria-hidden="true"></i>
                            }
                        </th>
                        <th class="ordena" data-campo="disciplina">
                            disciplina
                            @if (ViewBag.orderby == "disciplina")
                            {
                                <i class="fas @updown " aria-hidden="true"></i>
                            }
                            else
                            {
                                <i class="fas fa-sort " aria-hidden="true"></i>
                            }
                        </th>

                        <th class="center-align width-acao">
                            Ações
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                    <tr>
                        <td class="">
                            @item.titulo
                        </td>
                        <td class="" >
                            @item.modalidade
                        </td>
                        <td class="gridhabilidade">
                            @item.habilidade
                        </td>
                        <td class="griddisciplina">
                            @item.disciplina
                        </td>
                        <td class="center-align">
                            <a href="#" class="hide-on-med-and-up btn-flat btn-floating btn-acao acoes-mobile">
                                <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                            </a>
                            <a class='hide-on-small-and-down btn-flat btn-floating btn-acao dropdown-button' href='#' data-activates='dropdownAcoes-@item.codbaseunidadeaprendizagem'>
                                <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                        }
                    }
                    else { 
                    
                    <tr>
                        <td class="sem-registro" colspan="6">Nenhum registro encontrado</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@foreach (var item in Model)
{
  <ul id='dropdownAcoes-@item.codbaseunidadeaprendizagem' class='dropdown-content acoes'>
      <li class="collection-item"><a href="@Url.Action("UnidadeAprendizagem", "UA", new { item.codbaseunidadeaprendizagem })" class="waves-effect editar" data-codunidade=@item.codbaseunidadeaprendizagem><div><i class="fas fa-pen-square" aria-hidden="true"></i>Editar</div></a></li>
  </ul>
}

