@model SLCONSTRUCT.UI.WEB.ViewModels.GuiaEstudoHibridoVModel

<div class="modal-header">
    <h4 class="titulo-modal-default-sl">Adicionar guia de estudos</h4>
    <span class="modal-close-default-sl modal-close">fechar <i class="fas fa-window-close" aria-hidden="true"></i></span>
</div>
<div class="modal-content">
    <div class="col s12 input-title row">
        <div>
            <i class="fas fa-book icon-padrao circular items" aria-hidden="true"></i><h2 class="sl-titulo-default sl-navy-blue">GUIA DE ESTUDOS</h2>
        </div>
    </div>
    <ul class="row collection">
        @{ foreach (var disciplina in Model.Disciplinas)
            {
                <li class="collection-item">@disciplina</li>
            }
        }
    </ul>
    <div class="row">
        @using (Html.BeginForm("Salvar", "GuiaEstudoHibrido", FormMethod.Post, new { data_js = "form-validate", id = "frmCadastroGuiaHibrido" }))
        {
            @Html.HiddenFor(x => x.codbaseunidadeaprendizagem)
            @Html.HiddenFor(x => x.codconteudo)
            @Html.HiddenFor(x => x.Texto)
            @Html.HiddenFor(x => x.estaVinculadoUA)
            <div class="input-field col l12 no-padding bloco-unidades-hibrido">
                <div class="bloco-refatora-hibrido">

                    <span class="label-nome-unidade"></span>
                    <input type="hidden" name="codconteudounidade" value="" />
                    <input type="hidden" name="NomeUnidade" value="" class="refatora-nome-hibrido" />

                    <div class="input-field col l12">
                        @Html.TextBoxFor(x => x.NomeGuiaCompleto, new { @required = "required", @class = "validate nome-unidade", maxlength = 250 })
                        @Html.LabelFor(x => x.NomeGuiaCompleto, new { @class = "active" })
                    </div>
                    <div class="input-field col l12 referencia" style="position:relative">
                        @Html.TextBoxFor(x => x.referenciabibliografica, new { @class = "validate nome-unidade", @type = "url", maxlength = 250, placeholder = "http://www.saolucas.edu.br/" })
                        @Html.LabelFor(x => x.referenciabibliografica, new { @class = "active", data_error = "Digite uma url válida" })
                        <button type="button" class="btn hide">abrir link</button>
                    </div>
                    <textarea name="editorguiaestudohibrido0" id="editorguiaestudohibrido0" class="refatora-nome-hibrido" rows="10" cols="80">@Model.Texto</textarea>
                    <script>
                        CKEDITOR.replace('editorguiaestudohibrido0');
                    </script>
                </div>
            </div>
        }
    </div>
</div>
<!--<div>-->
<button class="btn btn-salva-default salvar-guia-hibrido" type="button">Adicionar</button>
<!--</div>-->
@*<button class="btn btn-salva-default-2" type="button">Cancelar</button>*@
