@model SLCONSTRUCT.UI.WEB.ViewModels.UnidadeOnlineVModel

@using (Html.BeginForm("Salvar", "GuiaEstudoOnline", FormMethod.Post, new { data_js = "form-validate", id = "frmCadastroGuiaOnline" }))
{
    
    @Html.HiddenFor(x => x.codbaseunidadeaprendizagem)
    @Html.HiddenFor(x => x.codconteudo)
    @Html.HiddenFor(x => x.base64Unidade, new { @class = "refatora-nome" })
    @Html.HiddenFor(x => x.ExtensaoUnidade, new { @class = "refatora-nome" })
    @Html.HiddenFor(x => x.NomeArquivoUnidade, new { @class = "refatora-nome" })
    @Html.HiddenFor(x => x.codconteudounidade, new { @class = "refatora-nome" })
    @Html.HiddenFor(x => x.scorm)
    <div class="modal-header">
        @*<p class="titulo-modal">Guia de Estudo</p>*@
        <h4 class="titulo-modal-default-sl">Adicionar Guia de Estudos</h4>
        <span class="modal-close-default-sl modal-close">fechar <i class="fas fa-window-close" aria-hidden="true"></i></span>
    </div>
    <div class="modal-content">
        <div class="col s12 input-title row">
            <div>
                <i class="fas fa-book icon-padrao circular items" aria-hidden="true"></i><h2 class="sl-titulo-default sl-navy-blue">GUIA DE ESTUDOS</h2>
            </div>
        </div>

        <ul class="row collection">
            @{ foreach (var disciplina in Model.Disciplinas)
                {
                    <li class="collection-item">@disciplina</li>
                }
            }
        </ul>
        <div class="row">


            <div class="col s12 center contentlabel">
                <div>
                    @Html.RadioButtonFor(m => m.tipoguia, "COMPLETO", new { @name = "tipoguia", @id = "completo", @required = "required" })
                    <label for="completo">Guia de Estudo (Completo)</label>
                </div>
                <div>
                    @Html.RadioButtonFor(m => m.tipoguia, "UNIDADE", new { @name = "tipoguia", @id = "unidade", @required = "required" })
                    <label for="unidade">Guia de Unidade</label>
                </div>
            </div>
            <div class="input-field col l12">
                @Html.TextBoxFor(x => x.NomeUnidade, new { @required = "required", @class = "validate nome-unidade", maxlength = 250 })
                @Html.LabelFor(x => x.NomeUnidade, new { @class = "active" })
            </div>

            <div class="file-field input-field col l12">
                <div class="btn">
                    <span>Anexar</span>
                    @Html.TextBoxFor(x => x.CaminhoUnidade, new { @class = "validate btn-anexar-guia", @accept = "application/pdf", @type = "file", maxlength = 1000 })
                </div>
                <div class="file-path-wrapper">
                    @Html.TextBoxFor(x => x.CaminhoUnidade, new { @class = "active file-path validate", @placeholder = "Anexar arquivo", maxlength = 1000 })
                </div>
                <label for="CaminhoUnidade">Guia de estudos</label>

            </div>
        </div>
    </div>
    @*<div class="col l2 titulo-item">
            <div class="file-field input-field">
                <p>Guia de estudos</p>
                <p>(.pdf)</p>
                <input accept="application/pdf" placeholder="Anexar arquivo" id="fldocconteudo" required type="file" />
            </div>
            <div class="file-path-wrapper">

                <input type="text" class="file-path validate refatora-nome" placeholder="Anexar arquivo" required />
            </div>
        </div>*@
    @*<span class="input-title-div">@Model.NomeGuiaCompleto (.zip)</span>
        <div class="file-field input-field">
            <div class="btn">
            <span><i class="fa fa-file-text-o" aria-hidden="true"></i> Upload</span>
            @Html.TextBoxFor(x => x.CaminhoGuiaCompleto, new { @placeholder = "Anexar arquivo", @accept = ".zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed", @type = "file", @required = "required" })

            <div class="file-path-wrapper">
                @Html.TextBoxFor(x => x.CaminhoGuiaCompleto, new { @placeholder = "Anexar arquivo", @class = "file-path validate", @required = "required" })
            </div>
        </div>
        <div class="bloco-unidades">


            @if (Model.Unidades != null && Model.Unidades.Count() > 0)
            {
                foreach (var item in Model.Unidades.Select((r, i) => new { Row = r, Index = i }))
                {
                    <div class="bloco-refatora">
                        @Html.HiddenFor(x => item.Row.base64Unidade, new { @name = $"Unidades[{item.Index}].base64Unidade", @class = "refatora-nome" })
                        @Html.HiddenFor(x => item.Row.ExtensaoUnidade, new { @name = $"Unidades[{item.Index}].ExtensaoUnidade", @class = "refatora-nome" })
                        @Html.HiddenFor(x => item.Row.NomeArquivoUnidade, new { @name = $"Unidades[{item.Index}].NomeArquivoUnidade", @class = "refatora-nome" })
                        @Html.HiddenFor(x => item.Row.codconteudounidade, new { @name = $"Unidades[{item.Index}].NomeArquivoUnidade", @class = "refatora-nome" })

                        @Html.TextBoxFor(x => item.Row.NomeUnidade, new { @name = $"Unidades[{item.Index}].NomeUnidade", @class = "input-title-div refatora-nome", @readonly = "readonly", @value= "(.pdf)" })
                        <span class="pdf-info">(.pdf)</span>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span><i class="fa fa-file-text-o" aria-hidden="true"></i> Upload</span>

                                @Html.TextBoxFor(x => item.Row.CaminhoUnidade, new { @name = $"Unidades[{item.Index}].CaminhoUnidade", @placeholder = "Anexar arquivo", @accept = "application/pdf", @type = "file", @required = "required", @class = "refatora-nome" })
                            </div>
                            <span class="excluir-bloco">Excluir</span>
                            <div class="file-path-wrapper">
                                @Html.TextBoxFor(x => item.Row.CaminhoUnidade, new { @name = $"Unidades[{item.Index}].CaminhoUnidade", @placeholder = "Anexar arquivo", @class = "file-path validate refatora-nome", @required = "required" })
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="bloco-refatora">
                    <input type="hidden" name="Unidades[0].base64Unidade" class="refatora-nome" />
                    <input type="hidden" name="Unidades[0].ExtensaoUnidade" class="refatora-nome" />
                    <input type="hidden" name="Unidades[0].NomeArquivoUnidade" class="refatora-nome" />
                    <input type="hidden" name="Unidades[0].codconteudounidade" class="refatora-nome" />


                    <input type="text" class="input-title-div refatora-nome" name="Unidades[0].NomeUnidade" value="Unidade 1 (.pdf)" readonly="readonly" />

                    <div class="file-field input-field">
                        <div class="btn">
                            <span><i class="fa fa-file-text-o" aria-hidden="true"></i> Upload</span>

                            <input type="file" class="input-title-div refatora-nome" name="Unidades[0].CaminhoUnidade" accept="application/pdf" placeholder="Anexar arquivo" required />
                        </div>
                        <span class="excluir-bloco">Excluir</span>
                        <div class="file-path-wrapper">

                            <input type="text" class="file-path validate refatora-nome" name="Unidades[0].CaminhoUnidade" placeholder="Anexar arquivo" required />
                        </div>
                    </div>
                </div>
            }
        </div>
        <span class="right add-guia-online">+ adicionar guia</span>*@
    
    @*<div class="modal-footer">
            <div class="col s6">
                <a href="#!" class="modal-action modal-close waves-effect btn-flat">Fechar</a>
            </div>
            <div class="col s6">
                <a href="#!" class="modal-action waves-effect btn-flat salvar-guia-online">Salvar</a>
            </div>
        </div>*@
    <button class="btn btn-salva-default salvar-guia-online" type="button">Adicionar</button>
}
