
@{
    /**/

    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/Content/exportacaoNotas/index.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Scripts/exportacaoNotas/index.js?id=10"></script>
}


<div class="row" style="background: #fff">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6"><a class="active" href="#centro-nota">Centro de Notas</a></li>
            <li class="tab col s6"><a href="#importacao-nota">Importação de provas</a></li>
        </ul>
    </div>
</div>
<div id="centro-nota">
    <div id="formulario-gerar-csv">
        <div class="row">
            <div class="col s12">
                <h5>EXECUTE OS ARQUIVOS DE ACORDO COM AS ORDENS ABAIXO:</h5>
            </div>
        </div>
        <div class="row">
            <div id="controls-acoes">
                <input name="tipo_execucao" value="exec_aluno" type="radio" checked id="execucao_aluno" />
                <label for="execucao_aluno">Execução por aluno</label>

                <input name="tipo_execucao" value="exec_massa" type="radio" id="execucao_massa" />
                <label for="execucao_massa">Execução em massa</label>
            </div>


            <div class="row progresso">
                <span></span>
            </div>

            <form id="form_por_aluno" action="@Url.Action("GetResultado")">

                <div class="col s12 m3 input-field">
                    <select id="contas" class="csv_select" data-urlGetAccounts="@Url.Action("GetSubAccounts")" name="accountId">
                        <option value="" disabled selected>Selecione</option>
                    </select>
                    <label>Conta</label>
                </div>

                <div class="col s12 m3 input-field">
                    <select name="parcial" class="csv_select">
                        <option value="" disabled selected>Selecione</option>
                        @if (Helper.Email(User.Identity) != "nead@saolucas.edu.br")
                        {
                            <option value="N1APS">N1APS</option>
                            <option value="N2APS">N2APS</option>
                            <option value="N1EAD">N1EAD</option>
                            <option value="N2EAD">N2EAD</option>
                        }
                        <option value="AD">AD</option>
                        <option value="AI">AI</option>
                        <option value="AP">AP</option>
                        <option value="RF">RF</option>
                    </select>
                    <label>Parcial</label>
                </div>

                <div class="col s12 m3 input-field campo-canvas">
                    <input id="txtCourseId" type="text" data-urlGetEnrollments="@Url.Action("GetEnrollmentsByCourse")" class="csv_select" name="courseid" placeholder="FSLPVHT21394D760CURR1575" />
                    <label>Disciplina</label>
                </div>

                <div class="col s12 m3 input-field campo-canvas">
                    <select id="alunosSelect" name="user" class="csv_select">
                        <option value="" disabled selected>Selecione</option>
                    </select>
                    <label>Aluno</label>
                </div>

                <div class="col s12 btn_gerar_csv">
                    <button class="btn" id="executar" type="button">Executar</button>
                </div>
            </form>
        </div>
        <div id="form_em_massa">
            <div id="acoes-massa-header">
                <div class="col s12 m3 input-field">
                    <select id="contas_massa" class="csv_select" data-urlGetAccounts="@Url.Action("GetSubAccounts")" name="accountId">
                        <option value="" disabled selected>Selecione</option>
                    </select>
                    <label>Conta</label>
                </div>

                <div class="col s12 m2 input-field">
                    <select name="parcial" id="parcial_massa" class="csv_select">
                        <option value="" disabled selected>Selecione</option>
                        @if (Helper.Email(User.Identity) != "nead@saolucas.edu.br")
                        {
                            <option value="N1APS">N1APS</option>
                            <option value="N2APS">N2APS</option>
                            <option value="N1EAD">N1EAD</option>
                            <option value="N2EAD">N2EAD</option>
                        }
                        <option value="AD">AD</option>
                        <option value="AI">AI</option>
                        <option value="AP">AP</option>
                        <option value="RF">RF</option>
                    </select>
                    <label>Parcial</label>
                </div>

                <div class="col s12 m2 input-field">
                    <select name="semestre" id="semestre_massa" class="csv_select">
                        <option value="" disabled >Selecione</option>
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                    </select>
                    <label>Semestre</label>
                </div>

                <div class="input-field col m5">
                    <input id="filtro_disciplinas" placeholder="NOME OU CÓDIGO DE DISCIPLINA" class="csv_select" type="text">
                    <label for="filtro_disciplinas">Pesquise</label>
                </div>

                <div class="col s6 selecionar-todas-check">
                    <input type="checkbox" class="filled-in" id="selecionar-todas" />
                    <label for="selecionar-todas">Selecionar todas</label>
                </div>

                <div class="col s6">
                    <button class="btn right" id="executar_massa" type="button">Executar</button>
                    <button class="btn right" id="gerar_csv" type="button">Gerar CSV</button>
                </div>
            </div>

            <div id="form_em_massa_content">
                <table id="tabela_disciplinas" class="striped">
                    <tbody id="cursos_tabela"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="importacao-nota">
    <div class="row progresso">
        <span></span>
    </div>

    <div id="formulario-importar-nota">
        <div class="row">
            <div class="col s12">
                <h5>EXECUTE OS ARQUIVOS DE ACORDO COM AS ORDENS ABAIXO:</h5>
            </div>
            <div class="col s12 m4 input-field">
                <select id="instituicoes" class="csv_select" data-url="@Url.Action("ObterTodasInstituicoes")" name="instituicao">
                    <option value="" disabled selected>Selecione</option>
                </select>
                <label>instituição</label>
            </div>
            <div class="col s12 m3 input-field">
                <select id="semestre" class="csv_select" data-url="@Url.Action("ObterTodosAnosSemestres")" name="semestre">
                    <option value="" disabled selected>Selecione</option>
                </select>
                <label>Ano/Semestre</label>
            </div>
            <div class="col s12 m3 input-field">
                <select id="bimestre" class="csv_select" data-url="@Url.Action("ObterTodosBimestres")" name="bimestre">
                    <option value="" disabled selected>Selecione</option>
                </select>
                <label>Bimestre</label>
            </div>

            <div class="col s12 m2 input-field">
                <select name="parcial" id="parcial_prova" class="csv_select">
                    <option value="" disabled selected>Selecione</option>
                    @if (Helper.Email(User.Identity) != "nead@saolucas.edu.br")
                    {
                        <option value="N1APS">N1APS</option>
                        <option value="N2APS">N2APS</option>
                        <option value="N1EAD">N1EAD</option>
                        <option value="N2EAD">N2EAD</option>
                    }
                    <option value="AD">AD</option>
                    <option value="AI">AI</option>
                    <option value="AP">AP</option>
                    <option value="RF">RF</option>
                </select>
                <label>Parcial</label>
            </div>

            <div class="col s12 btn_importar-provas">
                <button class="btn" data-url="@Url.Action("IntregarNotaProva")" id="executar-importacao-prova" type="button">Executar</button>
            </div>

        </div>
    </div>
</div>

@using (Html.BeginForm("DownloadCSV", "ExportacaoNotas", FormMethod.Post, new { @id = "frmDownloadCSV", @class = "hide" }))
{
    <input type="text" id="conteudo" name="conteudo" />
}